In [2]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)

In [4]:
df = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\data_preprocessing_tour_package.csv")

In [5]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price
0,Amazing Amaravathi,amaravathi,2,3,8000.0
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0

In [6]:
df.shape

(2494, 5)

# price

In [7]:
df['price'].describe()

count      2494.000000
mean      25273.368083
std       20791.879593
min        1199.000000
25%       14109.250000
50%       21467.000000
75%       29999.000000
max      499000.000000
Name: price, dtype: float64

In [8]:
def categories_by_price(price):
    if 0 <= price <= 15000:
        return "Budget"
    elif 15000 < price <= 30000:
        return "Standard"
    elif 30000 < price <= 50000:
        return "Premium"
    elif price > 50000:
        return "Luxury"

In [9]:
df['categories_by_price'] = df['price'].apply(categories_by_price)

In [10]:
df['categories_by_price'].value_counts()

categories_by_price
Standard    1149
Budget       743
Premium      437
Luxury       165
Name: count, dtype: int64

In [11]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury

# no_of_days

In [12]:
def categories_by_days(days):
    if 1 <= days <= 3:
        return "Short Trip"
    elif 4 <= days <= 7:
        return "Medium Trip"
    elif 8 <= days <= 14:
        return "Long Trip"
    elif days >= 15:
        return "Extended Trip"

In [13]:
df['categories_by_days']= df['no_of_days'].apply(categories_by_days)

In [14]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip

In [15]:
df.shape

(2494, 7)

# cities_to_be_visit

In [16]:
import string

In [17]:
def remove_punctuation(text):
    
    for i in string.punctuation:
        if i in text:
            text = text.replace(i,'')
    return text

In [18]:
df['tokenized'] = df['cities_to_be_visit'].apply(remove_punctuation)

In [19]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,amaravathi
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,amaravathi vijaywada
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,amaravathi vijaywada kakinada
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,tirupati nellore amaravathi vijaywada kakinada vishakapatnam
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,tirupati nellore amaravathi vijaywada kakinada vishakapatnam hyderabad
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip,bangalore tirupati
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip,chennai tirupati
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip,chennai tirupati
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip,bangalore tirupati
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip,tiruchi madurai kanyakumari rameswaram tanjore kumbakonam pondicherry chennai tirupati thiruvannamalai

In [20]:
df['tokenized'] = df['tokenized'].apply(remove_punctuation)

In [21]:
from nltk.tokenize import word_tokenize

In [22]:
df['tokenized'] = df['tokenized'].apply(word_tokenize)

In [23]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,[amaravathi]
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,"[amaravathi, vijaywada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,"[amaravathi, vijaywada, kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]"
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip,"[bangalore, tirupati]"
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip,"[chennai, tirupati]"
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip,"[chennai, tirupati]"
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip,"[bangalore, tirupati]"
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]"

In [24]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,[amaravathi]
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,"[amaravathi, vijaywada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,"[amaravathi, vijaywada, kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]"
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip,"[bangalore, tirupati]"
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip,"[chennai, tirupati]"
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip,"[chennai, tirupati]"
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip,"[bangalore, tirupati]"
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]"

In [25]:
length= []
for i in df['tokenized']:
    length.append(len(i))

In [26]:
df['count_of_cities'] = length

In [27]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized,count_of_cities
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,[amaravathi],1
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,"[amaravathi, vijaywada]",2
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,"[amaravathi, vijaywada, kakinada]",3
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]",6
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]",7
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip,"[bangalore, tirupati]",2
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip,"[chennai, tirupati]",2
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip,"[chennai, tirupati]",2
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip,"[bangalore, tirupati]",2
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]",10

# package_name

In [28]:
df['package_name'].shape

(2494,)

In [29]:
import string

In [30]:
def remove_punctuation(text):
    
    for i in string.punctuation:
        if i in text:
            text = text.replace(i,'')
    return text

In [31]:
df['tokenized_package_name'] = df['package_name'].apply(remove_punctuation)

In [32]:
df['tokenized_package_name'] = df['tokenized_package_name'].apply(word_tokenize)

In [33]:
df.head()

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized,count_of_cities,tokenized_package_name
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,[amaravathi],1,"[Amazing, Amaravathi]"
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,"[amaravathi, vijaywada]",2,"[Alluring, Amaravathi, and, Vijayawada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,"[amaravathi, vijaywada, kakinada]",3,"[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]",6,"[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]",7,"[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"

In [34]:
df['tokenized_package_name'].head()

0                                                 [Amazing, Amaravathi]
1                               [Alluring, Amaravathi, and, Vijayawada]
2                            [Awesome, Amaravathi, Vijaywada, Kakinada]
3                [Delights, of, Andhra, Pradesh, including, Amaravathi]
4    [Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]
Name: tokenized_package_name, dtype: object

In [35]:
flattened_list = [item for sublist in df['tokenized_package_name'] for item in sublist]

unique_items = set(flattened_list)


print(unique_items)

{'Great', 'Snowboarding', 'Upbeat', 'Sightseeing', 'Konkan', 'Packed', '8Day', 'Ganga', 'Phenomenal', 'Dehradun', 'Andamans', 'Coastal', 'To', 'Kumbalgarh', 'Professional', 'night', 'Narendra', 'Explore', 'Peepal', '12Day', 'Munnar', 'Snorkeling', 'Nights6', 'Vijaywada', 'Radisson', 'Stars', 'Allure', 'Mehao', 'Through', 'Root', 'Drive', 'Sensational', 'Hill', 'Uttarkhand', 'Buddhist', 'Beauty', 'Mystical', 'Andhra', 'dham', 'Chardham', 'Adventrous', 'Kottayam', 'Celebration', 'Sham', 'All', 'Destinations', 'Caves', 'Dazzling', 'Shell', 'Udaipur', 'Dhaam', 'Yercaud', 'La', 'Haldighati', 'Yamunotri', 'Together', 'Chittorgarh', 'Matheran', 'Zorbing', 'Plan', 'Kaichi', 'Joshimath', 'Mashobra', 'Solang', 'Sillery', 'Quintessential', 'Kumbakonam', 'Light', 'Nagpur', 'N', 'Sariska', 'Wonderscape', 'Drivacation', 'Back', 'from', 'Delight', '4', 'Motorbike', 'Discover', 'Idukki', 'Nasik', 'Mewari', 'Village', 'Hemkund', 'Masti', '5Night', 'Awesome', 'Pahalgam', 'Citizen', 'November', 'LTC', 'Charter', 'Wonderland', 'JaipurJodhpurUdaipur', 'Pocket', 'Admirable', 'Spicy', 'Nights7', 'Splendour', 'Saikhowa', 'Himalaya', 'Palm', '2024', 'Tickets', 'Silver', 'Islands', 'Seven', 'The', 'Mcloedganj', 'KanyakumariKovalam', 'Keralas', 'Spa', 'Khardung', 'Nava', 'Candle', 'Optional', 'Enchanting', 'Indulgent', 'Chitrakoot', '3Night', 'Featuring', 'Charming', 'Supersaver', 'Omkareshwar', 'Sweet', 'Soochipara', 'Cruise', '7N8D', 'PackagesVolvo', 'In', 'Guptkashi', 'Hall', 'Bengal', 'Duration', 'Majuli', '8N', 'Vaishno', 'more', 'Elements', 'Summers', 'Superb', 'Natures', 'Hotels', 'Retreat', 'Jyotirlingas', 'Barsana', 'Romance', 'Samudram', 'Kanyakumari', 'Nagarhole', 'Madhya', 'Vaishali', 'Rustic', 'End', 'Camp', 'Ram', 'Gems', '13', 'West', 'Trichy', 'Evening', 'Era', 'Living', 'Mesmerizing', 'Calicut', 'Chandratal', 'Statue', '4N', 'Pleasant', 'Doodhpathri', '6', 'Chamba', 'Rishikesh', 'Bandipur', 'Essential', 'Mandi', 'Murudeshwar', 'Gujarat', 'Astounding', 'Captivating', 'Guruvayur', 'Dharamsala', 'Deccan', 'Jogini', 'Kasauni', 'Jorhat', 'Lamas', 'Varanasi', 'Thirilling', 'Katra', 'Winter', 'days', 'Periyar', 'Ellora', 'Experential', 'Yuksom', 'Tirupati', 'Amaravathi', 'Dharamshala', 'Break', 'Pradesh', 'DelhiAgraJaipur', 'Marvelous', 'Shimla', 'Kumarkom', 'Darjeeling', 'Jabalpur', 'Attend', 'Port', 'Accomadations', 'Including', 'Wagah', 'Nilgiris', 'Certification', 'Laitlum', 'Sasan', 'Maharashtra', 'Digha', 'Roads', 'Bonanza', 'Pelling', 'Jim', 'KasolKheerganga', 'Sri', 'Catamaran', 'KedarnathBadrinath', 'Valparai', 'Trekking', 'Ventakeshwara', 'Recharge', 'Bharatpur', 'Jolly', 'Rejuvenation', 'Park', '5', '12', 'Aihole', 'Pothamedu', 'Kashmirs', 'Chennai', 'Full', 'Marwar', 'Chopta', 'Kaav', 'Majestic', 'Kaza', 'Cheerapunji', 'Geyzing', 'Car', 'Morickap', 'Desert', 'Nameri', 'Embracing', 'Holiday', 'Sai', 'Kadkani', 'Meditation', 'Binsar', 'Festival', 'Cab', 'Pearls', 'Itanagar', '3Star', 'Families', 'Vishwanath', 'Activities', 'Quaint', '11', 'Kedarnath', 'Essence', 'Ranakpur', 'Tshangu', 'Soulful', 'Barot', 'Calling', 'Angling', 'Cable', 'Den', 'Meghalaya', 'Rameswaram', 'Spectacular', 'Uttar', 'Starting', 'Balaji', 'Winters', 'Bilaspur', 'valley', 'Extraordinary', 'Mcleodganj', 'Sheegra', 'Colors', 'Bikaner', 'Striking', 'Shivpuri', 'Birchwood', 'Heat', 'Red', 'Haridwar', 'Kalpetta', 'Dibrugarh', 'Sahib', 'Tapu', 'Best', 'Sarahan', 'Diving', 'Treatment', 'Charm', 'Amazing', 'For', 'Kamru', 'Verdant', 'More', 'Varkala', 'Border', 'Five', 'Spice', 'Kashmir', 'Pichola', 'Enjoyable', 'Highland', 'Country', 'Bhutan', 'Padharo', 'Arunchal', 'Conoor', 'Highlights', 'Nights3', 'Travel', 'Photoshoot', 'Love', 'Undiscovered', 'Bottom', 'Tinsukia', 'Visit', 'Trails', 'Friendly', 'Leisurely', 'Bestseller', 'Chandertal', 'Sledge', 'Chitkul', 'Cool', 'AC', 'Lanchung', 'and', 'Himalayan', 'Island', 'Accomdations', '20', 'Exploration', 'Palakkad', 'Naintal', '8', 'house', 'Dawn', 'Triangle', 'Tsomgo', 'Grandeur', 'Decker', 'Janmabhoomi', 'AweInspriing', 'Eklingji', 'Mawlynnong', 'Panchmarhi', 'Kufri', 'Chidiya', 'Lord', 'Jaislamer', 'Ranikhet', 'Surreal', 'Bliss', 'Religious', 'Tulip', 'Adventurer', 'Ganges', 'Ruins', 'Manas', 'Banaglore', 'Stunning', 'Agra', 'Sublime', '8N9D', 'Beyond', 'Anand', 'Switzerland', 'Wet', 'Cheap', 'KrishnaBalaram', 'Kerala', 'Exquisite', 'Lolab', 'Guwahati', 'Fix', 'rafting', 'Shani', 'Kullu', 'Kodaikanal', 'Included', 'Marvellous', 'Jamnagar', 'Aarti', 'Kumaun', 'Gokulam', 'via', 'Jaisalmer', 'Escape', 'Lakes', 'Vibrant', 'Bangalore', 'Forest', 'Cave', '5N', 'Nicobar', 'Nag', 'Jowai', 'Oberoi', 'Hornbill', 'Night', 'Ahmedabad', 'Tehri', 'Retreats', 'Niraamaya', 'Chikamagalur', 'Dirang', 'Shyam', 'Marvels', 'Valley', 'Lot', 'Kanchipuram', 'Sangla', 'Group', 'Junagadh', 'Monsoon', 'Astonishing', 'Fair', 'Wondrous', 'Khajjiar', 'KulluManali', 'Land', 'Gaon', 'Days', 'Trail', 'Poovar', 'Peaceful', 'Kashi', 'caves', 'Mahakal', 'Lands', 'Heritage', 'Pathankot', 'Kolkata', 'Romantic', 'Mahal', 'Garden', 'Cultural', 'Elderly', 'Thekkady', 'Tour', 'Silk', 'Radhanagar', 'Hyderabad', 'trip', 'Tribal', 'Subrahmanya', 'Wonderful', '9N10D', '10', 'Experience', 'Senior', 'Thrissurr', 'Lovers', 'Mudumalai', 'Blessed', 'Nilambur', 'Ranthambhore', 'A', 'Vacay', 'Coonoor', 'Your', 'Turtuk', 'Beachy', 'Glamping', 'Bay', 'Get', 'Madikeri', 'Alibaug', 'Neverending', 'Bangkok', 'Golfing', 'Devi', 'Mawsmai', 'Kareri', 'Guide', 'Goa', 'Dharmshala', 'Inclusive', 'Scenic', 'Fantastic', 'October', 'Trouble', 'Navagraha', 'Orchha', 'Bomdila', 'Saurashtra', 'Packag', 'Rasol', 'Bihar', 'on', 'Times', 'Colourful', 'Experiential', 'Beach', 'a', 'Villa', 'Nights', 'Mawsynram', 'Big', 'Taxi', 'Mesmerising', 'Aurangabad', 'Kedarkantha', 'Ooty', 'Customisable', 'Harsil', 'Imphal', 'of', 'Flight', 'Caravan', 'Diver', 'PondicherryMahabalipuram', 'Ajmer', 'Splendours', 'Bijapur', 'Bhimbetka', 'Dholes', 'Stay', 'Kannur', '5D', 'National', 'Char', 'Prashar', 'Under', 'Devotional', 'Indian', 'Peak', 'Triple', 'Cycling', 'Elephant', 'Weekend', '02', 'to', 'Tiger', 'Unforgettable', 'Indore', 'Skiing', 'Classes', 'Kanha', 'Mathura', '15', 'Glance', 'Rajgir', 'Sighseeing', 'Classic', 'Cruising', 'Grand', 'Stellar', 'Khangchendzonga', 'Package', 'Ethereal', 'Silchar', '6Day', 'Couple', 'UP', 'Rajasthan', 'Dwarka', 'Eastern', 'Vacation', 'Fascinating', 'New', 'Dinner', 'Kakinada', 'Mesmeric', 'Thrills', 'Vagamon', 'Abu', 'Lasting', 'Clouds', 'Fun', 'Dream', 'Combo', 'Royal', 'Pink', 'Wonder', 'Christmas', 'Star', 'Cozy', 'the', 'Mahabaleshwar', 'Kumbhalgarh', 'Prices', 'Evolve', 'Hawa', 'FunFilled', 'Lohaghat', 'Frontiers', 'Gangotri', 'Own', 'Assamd', 'Ex', 'Quick', 'Adventure', 'Khajuraho', 'Wildlife', 'Riveting', 'Resorts', 'Mata', 'Mirik', 'Ziro', 'Unconventional', 'ji', 'Leh', 'Inculding', 'or', 'Jawai', 'Punjab', 'Board', 'With', 'Mahe', 'Kinnaur', 'Moriri', 'Exciting', 'Pangong', 'Route', 'Budget', 'Twin', 'Madurai', 'Allahabad', 'Yusmarg', 'Kudremukh', 'Spiti', 'Private', 'Amarnath', 'Ranthambore', 'package', 'Shimmering', 'De', 'Dooars', 'Chandrataal', 'Changgu', 'Unwinding', 'Coorg', 'Ravangla', 'Sacred', '7Day', 'RAAS', '09', 'Lanka', 'Bodh', 'From', 'Jammu', 'Bridge', 'Pondicherry', 'Spiritual', 'Vintage', 'Andaman', 'Palace', 'stay', 'Panorama', 'Underwater', 'Magnetic', 'Tourwith', 'Falls', 'Backwater', 'Beautiful', 'Vrindavan', 'Selling', 'Dalhousie', '9', 'Snowfilled', 'Day', 'Ranganathittu', 'Khandala', 'Patnitop', 'Nagar', 'Lataguri', 'Ambikapur', 'Kayaking', 'India', 'Darshan', 'Free', 'Odyssey', 'Fabulous', 'Jaipur', 'Truly', 'Parashar', 'Chirkoot', 'Leela', 'Bangus', 'Trivandrum', 'Mokokchung', 'Sonamarg', 'Nadu', '7', 'Tosh', 'Sravanabelagola', 'Halebid', 'Nongriat', 'Memorable', 'Uttarakhand', 'Alwar', 'Different', 'Gurez', 'Backwaters', 'Pilgrims', 'Nights4', 'FlowersYumthang', 'Wandoor', 'Bir', 'Water', 'Central', 'Zuluk', 'Leisure', 'Manali', 'Cordelia', 'with', 'Simply', 'Wellness', 'Morning', 'SIkkim', 'Volvo', 'Shignapur', 'Tamil', 'Saver', 'Kausani', 'Bekal', 'Thailand', 'Athirapally', 'Garo', 'Aritar', 'East', 'Historical', 'Cochin', 'Of', 'Covering', 'Deluxe', 'Utsav', 'Decadent', 'Tabo', 'Magic', 'Treasures', 'Magnificient', 'Breaking', 'Hills', 'Diu', 'Natural', 'Karting', 'Pckage', 'Couples', 'Kalimpong', 'Family', 'Rudraprayag', 'Pachmarhi', 'Waterfalls', 'Jibhi', 'Splendid', 'Tent', '4Star', 'Badrinath', 'Gandhidham', 'Lake', 'Kasuali', 'Sasangir', 'Statues', 'Dazzle', 'Mount', 'Tuophema', 'Mysore', 'Mumbai', 'Chickmangalur', 'Masinagudi', 'Mukteshwar', 'Tamara', 'Standard', 'Bodhgaya', 'Rajputana', 'Buddha', 'Kasol', 'Dharmasthala', 'Chandigarh', 'Waterwoods', 'Srisailam', '2N', 'Extensive', 'Mararikulam', 'Simhastha', 'Exclusive', 'Wular', 'Engaging', 'Special', 'Padmawati', 'Edition', 'Trio', 'Gods', 'Beachside', 'Kumarakom', 'Plantation', 'Premium', 'Colours', 'Jeep', 'Tamilnadu', 'Yatra', 'Elaborate', 'Mystic', 'Offbeat', 'Adventerous', 'Escapade', 'Temple', 'Kargil', 'Orchid', 'Idyllic', 'Bankura', 'Candlelit', 'Jodhpur', '7N', 'By', 'Luxurious', 'Wonders', 'Kochi', 'Course', 'Canyon', 'Tirumala', 'Cheapest', 'Dargah', 'Roing', 'Bamboo', 'Glacier', 'Tea', 'Glorious', 'Incredible', 'Chail', 'Thrissur', 'Corbett', 'Summer', 'City', 'And', 'Tourism', 'Gir', 'Fiesta', 'Long', 'Khatu', 'Kangra', 'Jungle', 'Ujjain', 'Exotic', 'Honeymoon', 'Golden', 'Getaway', 'Kabini', 'Tungnath', 'Toy', 'Arunachal', 'Sisters', 'Wonderous', 'Sports', 'Mawphlangs', 'Cherrapunjee', 'Daredevil', 'Alleppey', 'An', 'Blissful', 'Badami', 'through', 'Dun', 'Withdrawal', 'Rohtang', 'nights', 'Picturesque', 'Pligrims', 'Nagarjunakonda', '1N', 'Lansdowne', 'Therapeutic', 'KinnaurChitkulKalpa', 'Rangpokhola', 'Sites', 'Kasauli', 'Naga', 'Tso', 'for', 'Bygone', 'Khyber', 'Trips', 'Sanctuary', 'Amritsar', 'Exhilarating', 'Bhuj', 'Charismatic', 'Buoy', 'Authentic', 'Gaya', 'Chalal', 'Itinerary', 'Shirdi', 'along', 'Spritiual', 'Wilderness', 'Boathouse', 'Trek', 'Double', 'Ross', 'Havelock', 'Snorkelling', 'Gondola', 'Dhamaka', 'Adventurous', 'Coimbatore', 'Namchi', 'Seaside', 'South', 'Refreshing', 'Kozhikode', 'Boating', 'Stunned', 'Blair', 'Misty', 'Sizzling', 'Heavenly', 'Chikmagalur', 'Dehra', 'Jewels', 'Cherrapunji', 'Srinagar', 'Satpura', 'Road', 'Culture', 'Backpacker', 'Pass', '04', 'Kalpa', 'KinnaurChitkulNarkanda', 'Ek', 'Worlds', 'Camping', 'Mussourie', 'Banglore', 'Gulmarg', 'Prayagraj', 'Tadoba', 'Karwar', 'Years', 'Nainital', 'Ama', 'Dubai', 'by', 'Indulge', 'Quintessentially', 'Train', 'Somnath', 'Auli', 'Magnificent', 'Citizens', 'PackageTaj', 'Spectaculat', '4N5D', 'Lachen', 'Vadodara', 'Nathdwara', 'Karnataka', 'Sojourn', 'Intimate', 'Beaches', 'Kutch', 'Mahakaleshwar', 'Kollam', 'Aru', 'Deal', 'Heaven', 'TriCity', 'Super', 'Celebrate', 'Paragliding', 'Enthusiastic', 'Gangtok', 'ooty', 'Nagaland', 'Venkateshwara', 'covering', 'Delightful', 'Nights8', 'Bhopal', 'Shillong', 'Bhavnagar', 'Splendors', 'Neil', 'Rann', 'Thriving', 'Rafting', 'Dimapur', 'Unity', 'Ranganthittu', 'Hampi', 'Lonavala', 'Udaivilas', 'Pattaya', 'Palampur', 'Srirangapatna', 'Sarnath', '1', 'Kaziranga', 'Naimisharanya', 'Holy', 'Horse', 'Students', 'Exploring', 'Beat', 'Style', 'Remarkable', 'Botanical', 'Dawki', 'Patna', 'Children', 'Bird', 'Beauteous', 'Bike', 'Music', 'Tree', 'Ski', '3', 'Western', 'Thanjavur', 'Scuba', '5N6D', '6Night', 'Ajanta', 'Raviz', 'Nubra', 'Packages', 'Ayodhya', 'Candlelight', 'Relaxing', 'Thajiwas', 'Dal', 'Sharif', 'Hotel', 'Yumthang', 'Year', 'Old', 'Himachal', 'Flowers', 'Impressive', 'Dreams', 'Vibes', 'Jyotirlinga', 'Both', 'Charms', 'Taj', 'Deserts', 'Lodge', 'Malana', 'Royalty', 'Wild', 'Panoramic', 'Sanchi', 'Splendor', 'Spirited', 'Nature', 'Complete', 'Fort', 'Irresistible', 'Tal', 'Manager', 'Rameshwaram', 'Explorer', 'Destination', 'Dholavira', 'Snow', 'Rendezvous', 'Mussoorie', 'Hidden', 'Bengaluru', 'Bollywood', 'Whole', 'Paradise', '4Day', 'Mahabalipuram', 'Delhi', 'Kottakal', 'Entrancing', 'Departure', 'Serenity', 'Hardiwar', '5Day', 'Tirthan', 'Ravishing', 'December', 'Divine', 'Soulmate', 'Around', '2', 'Hiking', 'Week', 'Assam', 'Pilgrimage', 'Over', 'Pench', 'Complimentary', 'at', 'Tours', 'Tibba', 'Dham', 'Serinity', 'Riding', 'Ultimate', 'Breathtaking', 'Ayurvedic', 'Dreamy', 'Gokarna', 'Goddess', 'Do', 'Guided', 'Overnight', 'Devigarh', 'Billing', 'Action', 'May', 'Kovalam', 'Lahaul', 'Aweinspiring', 'Edakkal', 'Dibru', 'Serene', 'Triund', 'BestSelling', 'including', 'Wayanad', 'ManaliDharamshala', 'Self', 'Kheerganga', 'Unchagaon', 'Relax', 'Chaar', 'Lovely', 'Brahmaputra', 'Tranquil', 'Temples', 'Shnongpdeng', 'Khilangmarg', 'Journey', 'Tawang', 'Excursion', '', 'Korba', 'Only', 'Deoria', 'North', 'Mukhba', 'Viewpoint', 'Lachung', 'Parks', 'Houseboat', 'Roadtripping', 'Udupi', 'Story', 'Enthralling', 'Almora', 'Northeast', 'Shingnapur', 'in', '4Night', 'Made', 'Laps', 'Kukke', 'Pangot', 'Moon', 'Southern', 'Rajkot', 'Sea', 'Persons', 'Trip', 'Wildflower', 'Sikkin', 'Resort', 'Sikkim', 'Mangalore', 'Plane', 'Walk', 'Sukhvilas', 'places', 'Unexplored', 'Ride', 'Uttarkashi', 'Tezpur', 'Hopping', 'Porbandar', 'Dhanaulti', 'Bhalukpong', 'Gorgeous', 'River', 'Bandhavgarh', 'VIP', 'Station', 'Pushkar', 'Magical', 'Maheshwar', 'Himalayas', 'Safari', 'Glass', 'Stargazing', 'Camel', 'Delights', 'UNESCO', 'char', 'Yoga', 'Earth', 'Yangtey', 'Holi', 'Alluring', 'PocketFriendly', 'Vijayawada', 'Shikara', 'At', 'Harriet', 'Nagzira', 'Serai', 'Giridih', 'Malaysia', 'Gwalior', 'tour', 'Narkanda', 'Shilmla', 'Rishkesh', 'Boat', 'Nepal', 'Glimpse', 'Helicopter', 'Pithoragarh', 'Manimahesh', 'Nagarajunakonda', 'Hilly', 'Lucknow', 'Kohima', 'Lakshadweep', 'Sunset', 'Engrossed', 'Ladakh', 'Luxury', 'Short', 'Lonar'}

In [36]:
# Adventure Packages
adventure_packages = [
    "Skiing", "Snowboarding", "Paragliding", "Trekking", "Scuba",
    "Motorbike", "Rafting", "Jeep Safari", "Cycling", "Horse Riding", "Adventure","Bike","jeep","Jeep", "Safari"
]

# Pilgrimage / Spiritual Packages
pilgrimage_packages = [
    "Char Dham", "Badrinath", "Vaishali", "Amarnath", "Kashi", "Vrindavan", "Char, Dham, Yatra"
    "Jyotirlinga", "Venkateshwara", "Rameshwaram", "Dharmasthala", "Yamunotri","Gangotri","Haridwar"," Haridwar","Rishikesh"
    "Srirangapatna", "Devotional", "Pilgrimage", "Lord", "Temples","Vaishno"," Devi" ,"Spritiual"," Dwarka"," Somnat",
    "Dargah", "Sikh", "Spiritual","Divine", "Tirumala", "Tirupati","Balaji", "Darshan","Religious", "Pilgrims","Char", "Dham", "Yatra"
]

# Honeymoon / Romantic Packages
honeymoon_packages = [
    "Honeymoon", "Couple", "Candlelight", "Romantic", 
    "Couple", "Candlelitt", "Beachy", "Spa & Wellness", 
    "Love Getaway", "Beachside Romance"
]

# Nature / Eco-Tourism Packages
nature_packages = [
    "Ecotourism", "Backwater", "Beachside", "Wildlife", "Camping", 
    "Boathouse", "Waterfalls", "Bird", "Nature", 
    "Jungle", "Park", "Eco-resort", "Scenic", 
    "Lake","National", "Parks"," Wild"," Hill"
]

# Cultural / Historical Packages
cultural_packages = [
    "UNESCO", "Heritage", "Forts & Palaces", "Rajasthan Tours", 
    "Cultural Tour", "Historical", "Temple", "Heritage", 
    "Archaeological", "Museum", "City", "Historical", 
    "Fort", "Palaces of India","Music", "Festival"
]

# Luxury / Leisure Packages
luxury_packages = [
    "Luxury", "5-Star Resorts", "Heritage Hotels", "Glamping", 
    "Private Villas", "Wellness Retreat", "Spa Treatment", "Houseboat Stay", 
    "Boutique Hotel", "Cruising Packages", "Luxurious Relaxation", 
    "Relaxing Stays", "Island Getaway", "Leisure",  "Resort", "Spa"
]

# Family Packages
family_packages = [
    "Family", "Children","kids", "Family Vacation", 
    "Cultural Trip for Families", "Family Nature Tour", 
    "Family-Friendly Adventures", "Family Packages", "Group Travel","Group"
]

# Budget Packages
budget_packages = [
    "Budget", "Pocket-Friendly", "Cheap", "Economical", 
    "Affordable", "Budget"
]

# Wellness / Rejuvenation Packages
wellness_packages = [
    "Ayurvedic", "Yoga & Meditation", "Spa & Wellness", "Rejuvenation", 
    "Detox", "Wellness","Yoga"
]

# Offbeat / Adventure Escapades
offbeat_packages = [
    "Offbeat", "Hidden", "Gems", "Remote Adventures", 
    "Untouched Landscapes", "Adventure Getaways", "Road Less", 
    "Wild Adventures","Panoramic"
]

# Weekend / Short Getaways
weekend_packages = [
    "Weekend", "Short Trips", "Quick", "2N3D Trips", 
    "City Escapes", "Short Cultural Tours", "Weekend Adventure", 
    "Nearby Getaways"
]

# Beach Holidays
beach_holidays = [
    "Beachside Stay", "Goa Beach", "Coastal Retreat", "Island Hopping", 
    "Andaman Tour", "Beach Sports", "Kerala Backwaters", "Beach Relaxation","Beach","Andaman"," Island,"
]

In [37]:
def categories_by_package(tokenized_package_name):
    for word in tokenized_package_name:
        if word in adventure_packages:
            return 'adventure_package'
        elif word in pilgrimage_packages:
            return "Spiritual Packages"
        elif word in honeymoon_packages:
            return "honeymoon_package"
        elif word in nature_packages:
            return "nature_package"
        elif word in cultural_packages:
            return "cultural_package"
        elif word in luxury_packages:
            return "luxury_package"
        elif word in family_packages:
            return "family_package"
        elif word in budget_packages:
            return "budget_package"
        elif word in wellness_packages:
            return "wellness_package"
        elif word in offbeat_packages:
            return "offbeat_package"
        elif word in weekend_packages:
            return "weekend_package"
        elif word in beach_holidays:
            return "beach_holiday"
    
    
    return "holiday_package"

In [38]:
df['category_by_package'] = df['tokenized_package_name'].apply(categories_by_package)

In [39]:
df[['package_name','category_by_package']].head(10)

,package_name,category_by_package
0,Amazing Amaravathi,holiday_package
1,Alluring Amaravathi and Vijayawada,holiday_package
2,"Awesome Amaravathi, Vijaywada & Kakinada",holiday_package
3,Delights of Andhra Pradesh including Amaravathi,holiday_package
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,offbeat_package
5,Pilgrimage from Bangalore to Tirupati,Spiritual Packages
6,Chennai to Tirupati Tour Package,Spiritual Packages
7,Divine Tirumala Tirupati Tour Package,Spiritual Packages
8,Bangalore to Tirupati Tour Package,Spiritual Packages
9,Tamil Nadu Temple Tour Package,cultural_package

In [40]:
df['category_by_package'].value_counts()

category_by_package
holiday_package       1239
honeymoon_package      406
Spiritual Packages     234
family_package         120
nature_package          96
adventure_package       74
beach_holiday           74
luxury_package          66
weekend_package         55
offbeat_package         49
cultural_package        41
budget_package          37
wellness_package         3
Name: count, dtype: int64

In [41]:
df.head(10)

,package_name,cities_to_be_visit,no_of_nights,no_of_days,price,categories_by_price,categories_by_days,tokenized,count_of_cities,tokenized_package_name,category_by_package
0,Amazing Amaravathi,amaravathi,2,3,8000.0,Budget,Short Trip,[amaravathi],1,"[Amazing, Amaravathi]",holiday_package
1,Alluring Amaravathi and Vijayawada,"amaravathi , vijaywada",3,4,10000.0,Budget,Medium Trip,"[amaravathi, vijaywada]",2,"[Alluring, Amaravathi, and, Vijayawada]",holiday_package
2,"Awesome Amaravathi, Vijaywada & Kakinada","amaravathi , vijaywada , kakinada",4,5,12499.0,Budget,Medium Trip,"[amaravathi, vijaywada, kakinada]",3,"[Awesome, Amaravathi, Vijaywada, Kakinada]",holiday_package
3,Delights of Andhra Pradesh including Amaravathi,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,7,20000.0,Standard,Medium Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]",6,"[Delights, of, Andhra, Pradesh, including, Amaravathi]",holiday_package
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,8,23500.0,Standard,Long Trip,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]",7,"[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]",offbeat_package
5,Pilgrimage from Bangalore to Tirupati,"bangalore , tirupati",2,3,7000.0,Budget,Short Trip,"[bangalore, tirupati]",2,"[Pilgrimage, from, Bangalore, to, Tirupati]",Spiritual Packages
6,Chennai to Tirupati Tour Package,"chennai , tirupati",2,3,8999.0,Budget,Short Trip,"[chennai, tirupati]",2,"[Chennai, to, Tirupati, Tour, Package]",Spiritual Packages
7,Divine Tirumala Tirupati Tour Package,"chennai , tirupati",1,2,4800.0,Budget,Short Trip,"[chennai, tirupati]",2,"[Divine, Tirumala, Tirupati, Tour, Package]",Spiritual Packages
8,Bangalore to Tirupati Tour Package,"bangalore , tirupati",1,2,6500.0,Budget,Short Trip,"[bangalore, tirupati]",2,"[Bangalore, to, Tirupati, Tour, Package]",Spiritual Packages
9,Tamil Nadu Temple Tour Package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",15,16,55500.0,Luxury,Extended Trip,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]",10,"[Tamil, Nadu, Temple, Tour, Package]",cultural_package

In [42]:
df.shape

(2494, 11)

In [43]:
df.columns

Index(['package_name', 'cities_to_be_visit', 'no_of_nights', 'no_of_days',
       'price', 'categories_by_price', 'categories_by_days', 'tokenized',
       'count_of_cities', 'tokenized_package_name', 'category_by_package'],
      dtype='object')

In [44]:
df = df[['package_name','category_by_package','cities_to_be_visit','count_of_cities','categories_by_days','no_of_nights',
         'no_of_days','categories_by_price','price','tokenized','tokenized_package_name']]

In [45]:
df.head(10)

,package_name,category_by_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,price,tokenized,tokenized_package_name
0,Amazing Amaravathi,holiday_package,amaravathi,1,Short Trip,2,3,Budget,8000.0,[amaravathi],"[Amazing, Amaravathi]"
1,Alluring Amaravathi and Vijayawada,holiday_package,"amaravathi , vijaywada",2,Medium Trip,3,4,Budget,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,Medium Trip,4,5,Budget,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,Medium Trip,6,7,Standard,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,Long Trip,7,8,Standard,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"
5,Pilgrimage from Bangalore to Tirupati,Spiritual Packages,"bangalore , tirupati",2,Short Trip,2,3,Budget,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]"
6,Chennai to Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,2,3,Budget,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]"
7,Divine Tirumala Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,1,2,Budget,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]"
8,Bangalore to Tirupati Tour Package,Spiritual Packages,"bangalore , tirupati",2,Short Trip,1,2,Budget,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]"
9,Tamil Nadu Temple Tour Package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,Extended Trip,15,16,Luxury,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]"

In [46]:
df.shape

(2494, 11)

In [47]:
df.rename(columns={'category_by_package':'category_of_package'},inplace =True)

In [48]:
df.rename(columns={'tokenized':'tokenized_cities_to_be_visit'},inplace =True)

In [49]:
df.head(10)

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,price,tokenized_cities_to_be_visit,tokenized_package_name
0,Amazing Amaravathi,holiday_package,amaravathi,1,Short Trip,2,3,Budget,8000.0,[amaravathi],"[Amazing, Amaravathi]"
1,Alluring Amaravathi and Vijayawada,holiday_package,"amaravathi , vijaywada",2,Medium Trip,3,4,Budget,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,Medium Trip,4,5,Budget,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,Medium Trip,6,7,Standard,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,Long Trip,7,8,Standard,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"
5,Pilgrimage from Bangalore to Tirupati,Spiritual Packages,"bangalore , tirupati",2,Short Trip,2,3,Budget,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]"
6,Chennai to Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,2,3,Budget,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]"
7,Divine Tirumala Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,1,2,Budget,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]"
8,Bangalore to Tirupati Tour Package,Spiritual Packages,"bangalore , tirupati",2,Short Trip,1,2,Budget,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]"
9,Tamil Nadu Temple Tour Package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,Extended Trip,15,16,Luxury,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]"

In [50]:
df.shape

(2494, 11)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   package_name                  2494 non-null   object
 1   category_of_package           2494 non-null   object
 2   cities_to_be_visit            2494 non-null   object
 3   count_of_cities               2494 non-null   int64
 4   categories_by_days            2494 non-null   object
 5   no_of_nights                  2494 non-null   int64
 6   no_of_days                    2494 non-null   int64
 7   categories_by_price           2494 non-null   object
 8   price                         2494 non-null   float64
 9   tokenized_cities_to_be_visit  2494 non-null   object
 10  tokenized_package_name        2494 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 214.5+ KB

In [52]:
df.head(10)

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,price,tokenized_cities_to_be_visit,tokenized_package_name
0,Amazing Amaravathi,holiday_package,amaravathi,1,Short Trip,2,3,Budget,8000.0,[amaravathi],"[Amazing, Amaravathi]"
1,Alluring Amaravathi and Vijayawada,holiday_package,"amaravathi , vijaywada",2,Medium Trip,3,4,Budget,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]"
2,"Awesome Amaravathi, Vijaywada & Kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,Medium Trip,4,5,Budget,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,Delights of Andhra Pradesh including Amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,Medium Trip,6,7,Standard,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,Gems of Andhra Pradesh Including Amaravathi and Hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,Long Trip,7,8,Standard,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"
5,Pilgrimage from Bangalore to Tirupati,Spiritual Packages,"bangalore , tirupati",2,Short Trip,2,3,Budget,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]"
6,Chennai to Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,2,3,Budget,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]"
7,Divine Tirumala Tirupati Tour Package,Spiritual Packages,"chennai , tirupati",2,Short Trip,1,2,Budget,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]"
8,Bangalore to Tirupati Tour Package,Spiritual Packages,"bangalore , tirupati",2,Short Trip,1,2,Budget,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]"
9,Tamil Nadu Temple Tour Package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,Extended Trip,15,16,Luxury,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]"

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   package_name                  2494 non-null   object
 1   category_of_package           2494 non-null   object
 2   cities_to_be_visit            2494 non-null   object
 3   count_of_cities               2494 non-null   int64
 4   categories_by_days            2494 non-null   object
 5   no_of_nights                  2494 non-null   int64
 6   no_of_days                    2494 non-null   int64
 7   categories_by_price           2494 non-null   object
 8   price                         2494 non-null   float64
 9   tokenized_cities_to_be_visit  2494 non-null   object
 10  tokenized_package_name        2494 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 214.5+ KB

In [69]:
df['package_name'] = df['package_name'].str.lower().str.strip()
df['category_of_package'] = df['category_of_package'].str.lower().str.strip()
df['cities_to_be_visit'] = df['cities_to_be_visit'].str.lower().str.strip()
df['categories_by_days'] = df['categories_by_days'].str.lower().str.strip()
df['categories_by_price'] = df['categories_by_price'].str.lower().str.strip()

In [70]:
df.head(10)

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,price,tokenized_cities_to_be_visit,tokenized_package_name
0,amazing amaravathi,holiday_package,amaravathi,1,short trip,2,3,budget,8000.0,[amaravathi],"[Amazing, Amaravathi]"
1,alluring amaravathi and vijayawada,holiday_package,"amaravathi , vijaywada",2,medium trip,3,4,budget,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]"
2,"awesome amaravathi, vijaywada & kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,medium trip,4,5,budget,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,delights of andhra pradesh including amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,medium trip,6,7,standard,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,gems of andhra pradesh including amaravathi and hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,long trip,7,8,standard,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"
5,pilgrimage from bangalore to tirupati,spiritual packages,"bangalore , tirupati",2,short trip,2,3,budget,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]"
6,chennai to tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,2,3,budget,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]"
7,divine tirumala tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,1,2,budget,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]"
8,bangalore to tirupati tour package,spiritual packages,"bangalore , tirupati",2,short trip,1,2,budget,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]"
9,tamil nadu temple tour package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,extended trip,15,16,luxury,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]"

In [81]:
def get_accommodation_facility(budget, days):
    if budget == 'budget':
        if days == 'short trip':
            return 'Low-Cost Apartment'
        elif days == 'medium trip':
            return 'Budget Hotel'
        elif days == 'long trip':
            return 'Hostel Room'
        elif days == 'extended trip':
            return 'Low-Cost shared Stay'
    elif budget == 'standard':
        if days == 'short trip':
            return 'Serviced Apartment'
        elif days == 'medium trip':
            return '3-Star Hotel'
        elif days == 'long trip':
            return 'Standard Hotel'
        elif days == 'extended trip':
            return 'Standard Hostel'
    elif budget == 'premium':
        if days == 'short trip':
            return 'Premium Serviced Apartment'
        elif days == 'medium trip':
            return '5-Star Hotel'
        elif days == 'long trip':
            return '4-Star Hotel'
        elif days == 'extended trip':
            return 'Premium Hotel'
    elif budget == 'luxury':
        if days == 'short trip':
            return 'Private Villa/Luxury Apartment'
        elif days == 'medium trip':
            return 'High-End Luxury Resort'
        elif days == 'long trip':
            return '5-Star Resort'
        elif days == 'extended trip':
            return 'Luxury Guesthouse/Resort'
    return 'Other Accommodation'

In [82]:
# Apply the function row-wise and pass both 'categories_by_price' and 'categories_by_days' columns
df['accommodation_facility'] = df.apply(lambda row: get_accommodation_facility(row['categories_by_price'], row['categories_by_days']), axis=1)

In [83]:
df.head(10)

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,price,tokenized_cities_to_be_visit,tokenized_package_name,accommodation_facility
0,amazing amaravathi,holiday_package,amaravathi,1,short trip,2,3,budget,8000.0,[amaravathi],"[Amazing, Amaravathi]",Low-Cost Apartment
1,alluring amaravathi and vijayawada,holiday_package,"amaravathi , vijaywada",2,medium trip,3,4,budget,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]",Budget Hotel
2,"awesome amaravathi, vijaywada & kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,medium trip,4,5,budget,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]",Budget Hotel
3,delights of andhra pradesh including amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,medium trip,6,7,standard,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]",3-Star Hotel
4,gems of andhra pradesh including amaravathi and hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,long trip,7,8,standard,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]",Standard Hotel
5,pilgrimage from bangalore to tirupati,spiritual packages,"bangalore , tirupati",2,short trip,2,3,budget,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]",Low-Cost Apartment
6,chennai to tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,2,3,budget,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]",Low-Cost Apartment
7,divine tirumala tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,1,2,budget,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]",Low-Cost Apartment
8,bangalore to tirupati tour package,spiritual packages,"bangalore , tirupati",2,short trip,1,2,budget,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]",Low-Cost Apartment
9,tamil nadu temple tour package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,extended trip,15,16,luxury,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]",Luxury Guesthouse/Resort

In [88]:
df['accommodation_facility'].value_counts()

accommodation_facility
3-Star Hotel                      962
Budget Hotel                      483
4-Star Hotel                      299
Low-Cost Apartment                247
Standard Hotel                    166
5-Star Hotel                      131
5-Star Resort                     116
High-End Luxury Resort             33
Serviced Apartment                 21
Hostel Room                        13
Luxury Guesthouse/Resort           11
Private Villa/Luxury Apartment      5
Premium Hotel                       4
Premium Serviced Apartment          3
Name: count, dtype: int64

In [92]:
df['accommodation_facility'] = df['accommodation_facility'].str.lower()

In [93]:
df.columns

Index(['package_name', 'category_of_package', 'cities_to_be_visit',
       'count_of_cities', 'categories_by_days', 'no_of_nights', 'no_of_days',
       'categories_by_price', 'price', 'tokenized_cities_to_be_visit',
       'tokenized_package_name', 'accommodation_facility'],
      dtype='object')

In [95]:
df = df[['package_name','category_of_package','cities_to_be_visit','count_of_cities','categories_by_days','no_of_nights',
         'no_of_days','categories_by_price','accommodation_facility','price','tokenized_cities_to_be_visit','tokenized_package_name']]

In [96]:
df.head(10)

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,accommodation_facility,price,tokenized_cities_to_be_visit,tokenized_package_name
0,amazing amaravathi,holiday_package,amaravathi,1,short trip,2,3,budget,low-cost apartment,8000.0,[amaravathi],"[Amazing, Amaravathi]"
1,alluring amaravathi and vijayawada,holiday_package,"amaravathi , vijaywada",2,medium trip,3,4,budget,budget hotel,10000.0,"[amaravathi, vijaywada]","[Alluring, Amaravathi, and, Vijayawada]"
2,"awesome amaravathi, vijaywada & kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,medium trip,4,5,budget,budget hotel,12499.0,"[amaravathi, vijaywada, kakinada]","[Awesome, Amaravathi, Vijaywada, Kakinada]"
3,delights of andhra pradesh including amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam",6,medium trip,6,7,standard,3-star hotel,20000.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam]","[Delights, of, Andhra, Pradesh, including, Amaravathi]"
4,gems of andhra pradesh including amaravathi and hyderabad,offbeat_package,"tirupati , nellore , amaravathi , vijaywada , kakinada , vishakapatnam , hyderabad",7,long trip,7,8,standard,standard hotel,23500.0,"[tirupati, nellore, amaravathi, vijaywada, kakinada, vishakapatnam, hyderabad]","[Gems, of, Andhra, Pradesh, Including, Amaravathi, and, Hyderabad]"
5,pilgrimage from bangalore to tirupati,spiritual packages,"bangalore , tirupati",2,short trip,2,3,budget,low-cost apartment,7000.0,"[bangalore, tirupati]","[Pilgrimage, from, Bangalore, to, Tirupati]"
6,chennai to tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,2,3,budget,low-cost apartment,8999.0,"[chennai, tirupati]","[Chennai, to, Tirupati, Tour, Package]"
7,divine tirumala tirupati tour package,spiritual packages,"chennai , tirupati",2,short trip,1,2,budget,low-cost apartment,4800.0,"[chennai, tirupati]","[Divine, Tirumala, Tirupati, Tour, Package]"
8,bangalore to tirupati tour package,spiritual packages,"bangalore , tirupati",2,short trip,1,2,budget,low-cost apartment,6500.0,"[bangalore, tirupati]","[Bangalore, to, Tirupati, Tour, Package]"
9,tamil nadu temple tour package,cultural_package,"tiruchi , madurai , kanyakumari , rameswaram , tanjore , kumbakonam , pondicherry , chennai , tirupati , thiruvannamalai",10,extended trip,15,16,luxury,luxury guesthouse/resort,55500.0,"[tiruchi, madurai, kanyakumari, rameswaram, tanjore, kumbakonam, pondicherry, chennai, tirupati, thiruvannamalai]","[Tamil, Nadu, Temple, Tour, Package]"

In [97]:
df.shape

(2494, 12)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   package_name                  2494 non-null   object
 1   category_of_package           2494 non-null   object
 2   cities_to_be_visit            2494 non-null   object
 3   count_of_cities               2494 non-null   int64
 4   categories_by_days            2494 non-null   object
 5   no_of_nights                  2494 non-null   int64
 6   no_of_days                    2494 non-null   int64
 7   categories_by_price           2494 non-null   object
 8   accommodation_facility        2494 non-null   object
 9   price                         2494 non-null   float64
 10  tokenized_cities_to_be_visit  2494 non-null   object
 11  tokenized_package_name        2494 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 233.9+ KB

In [99]:
df.to_csv('feature-engineering-tour-package.csv',index=False)