In [1]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\tour-package-outlier-treated.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428 entries, 0 to 2427
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   package_name                  2428 non-null   object
 1   category_of_package           2428 non-null   object
 2   cities_to_be_visit            2428 non-null   object
 3   count_of_cities               2428 non-null   int64
 4   categories_by_days            2428 non-null   object
 5   no_of_nights                  2428 non-null   int64
 6   no_of_days                    2428 non-null   int64
 7   categories_by_price           2428 non-null   object
 8   accommodation_facility        2428 non-null   object
 9   price                         2428 non-null   float64
 10  tokenized_cities_to_be_visit  2428 non-null   object
 11  tokenized_package_name        2428 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 227.8+ KB

In [4]:
df.shape

(2428, 12)

In [5]:
df.head()

,package_name,category_of_package,cities_to_be_visit,count_of_cities,categories_by_days,no_of_nights,no_of_days,categories_by_price,accommodation_facility,price,tokenized_cities_to_be_visit,tokenized_package_name
0,amazing amaravathi,holiday_package,amaravathi,1,short trip,2,3,budget,low-cost apartment,8000.0,['amaravathi'],"['Amazing', 'Amaravathi']"
1,alluring amaravathi and vijayawada,holiday_package,"amaravathi , vijaywada",2,medium trip,3,4,budget,budget hotel,10000.0,"['amaravathi', 'vijaywada']","['Alluring', 'Amaravathi', 'and', 'Vijayawada']"
2,"awesome amaravathi, vijaywada & kakinada",holiday_package,"amaravathi , vijaywada , kakinada",3,medium trip,4,5,budget,budget hotel,12499.0,"['amaravathi', 'vijaywada', 'kakinada']","['Awesome', 'Amaravathi', 'Vijaywada', 'Kakina..."
3,delights of andhra pradesh including amaravathi,holiday_package,"tirupati , nellore , amaravathi , vijaywada...",6,medium trip,6,7,standard,3-star hotel,20000.0,"['tirupati', 'nellore', 'amaravathi', 'vijaywa...","['Delights', 'of', 'Andhra', 'Pradesh', 'inclu..."
4,gems of andhra pradesh including amaravathi an...,offbeat_package,"tirupati , nellore , amaravathi , vijaywada...",7,long trip,7,8,standard,standard hotel,23500.0,"['tirupati', 'nellore', 'amaravathi', 'vijaywa...","['Gems', 'of', 'Andhra', 'Pradesh', 'Including..."

In [6]:
df.drop(columns=['package_name','tokenized_cities_to_be_visit','tokenized_package_name','cities_to_be_visit','no_of_nights','categories_by_days'],inplace=True)

In [7]:
df.head()

,category_of_package,count_of_cities,no_of_days,categories_by_price,accommodation_facility,price
0,holiday_package,1,3,budget,low-cost apartment,8000.0
1,holiday_package,2,4,budget,budget hotel,10000.0
2,holiday_package,3,5,budget,budget hotel,12499.0
3,holiday_package,6,7,standard,3-star hotel,20000.0
4,offbeat_package,7,8,standard,standard hotel,23500.0

In [8]:
df['category_of_package'].value_counts().shape

(13,)

In [9]:
df['category_of_package'].value_counts()

category_of_package
holiday_package       1204
honeymoon_package      404
spiritual packages     228
family_package         120
nature_package          89
beach_holiday           70
adventure_package       68
luxury_package          63
weekend_package         55
offbeat_package         49
cultural_package        39
budget_package          37
wellness_package         2
Name: count, dtype: int64

In [12]:
df['category_of_package'] = df['category_of_package'].replace('wellness_package','spiritual packages')

In [13]:
df['category_of_package'].value_counts()

category_of_package
holiday_package       1204
honeymoon_package      404
spiritual packages     230
family_package         120
nature_package          89
beach_holiday           70
adventure_package       68
luxury_package          63
weekend_package         55
offbeat_package         49
cultural_package        39
budget_package          37
Name: count, dtype: int64

In [14]:
df['count_of_cities'].value_counts().shape

(10,)

In [15]:
df['no_of_days'].value_counts().shape

(11,)

In [16]:
df['categories_by_price'].value_counts().shape

(4,)

In [17]:
df['accommodation_facility'].value_counts().shape

(12,)

In [18]:
df['accommodation_facility'].value_counts()

accommodation_facility
3-star hotel                      961
budget hotel                      483
4-star hotel                      289
low-cost apartment                247
standard hotel                    166
5-star hotel                      131
5-star resort                      88
high-end luxury resort             24
serviced apartment                 21
hostel room                        13
premium serviced apartment          3
private villa/luxury apartment      2
Name: count, dtype: int64

In [19]:
five_star = ['5-star hotel', '5-star resort', 'high-end luxury resort', 'private villa/luxury apartment']
four_star = ['4-star hotel','premium serviced apartment']
three_star = ['3-star hotel','standard hotel']
two_star = ['serviced apartment']
one_star = ['budget hotel', 'low-cost apartment', 'hostel room']

In [20]:
def get_accommodation_facility(accommodation):
    if accommodation in five_star:
        return '5 star'
    elif accommodation in four_star:
        return '4 star'
    elif accommodation in three_star:
        return '3 star'
    elif accommodation in two_star:
        return '2 star'
    elif accommodation in one_star:
        return '1 star'
    return 'not defined'

In [21]:
df['accommodation_facility'] = df['accommodation_facility'].apply(get_accommodation_facility)

In [22]:
df.head()

,category_of_package,count_of_cities,no_of_days,categories_by_price,accommodation_facility,price
0,holiday_package,1,3,budget,1 star,8000.0
1,holiday_package,2,4,budget,1 star,10000.0
2,holiday_package,3,5,budget,1 star,12499.0
3,holiday_package,6,7,standard,3 star,20000.0
4,offbeat_package,7,8,standard,3 star,23500.0

In [23]:
df.shape

(2428, 6)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2428 entries, 0 to 2427
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   category_of_package     2428 non-null   object
 1   count_of_cities         2428 non-null   int64
 2   no_of_days              2428 non-null   int64
 3   categories_by_price     2428 non-null   object
 4   accommodation_facility  2428 non-null   object
 5   price                   2428 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 113.9+ KB

In [25]:
df.to_csv('tour_package_post_feature_selection_2.csv', index=False)