In [1]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)

In [3]:
df = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\merge_city_state.csv")

In [4]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6117 entries, 0 to 6116
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   visiting_places                   6117 non-null   object
 1   visiting_places_rating            3486 non-null   float64
 2   visiting_place_summary            5811 non-null   object
 3   visiting_place_tokenized_summary  5811 non-null   object
 4   distance_from_city_center         5293 non-null   float64
 5   cities_name                       5736 non-null   object
 6   city_rating                       5460 non-null   float64
 7   city_summary                      5562 non-null   object
 8   city_tokenized_summary            5562 non-null   object
 9   no_of_tourist_attration           5460 non-null   float64
 10  best_time_to_visit                5460 non-null   object
 11  states_name                       5562 non-null   object
dtypes: float64(4), object(8)
memory usage: 573.6+ KB

In [6]:
df.shape

(6117, 12)

# states_name

In [7]:
df['states_name'].value_counts().shape

(28,)

In [8]:
df['states_name'].isnull().sum()

555

In [9]:
df['states_name'].value_counts()

states_name
kerala               722
karnataka            441
himachal pradesh     439
maharashtra          404
rajasthan            357
tamil nadu           337
gujarat              295
uttar pradesh        284
uttarakhand          284
mp                   277
andhra pradesh       248
west bengal          212
jammu and kashmir    164
haryana              150
assam                138
punjab               133
bihar                127
telangana            116
odisha               105
jharkhand             74
arunachal pradesh     65
sikkim                43
chhattisgarh          41
meghalaya             40
nagaland              20
manipur               16
mizoram               15
tripura               15
Name: count, dtype: int64

In [10]:
cultural_and_heritage_states = [
    "kerala",
    "rajasthan",
    "tamil nadu",
    "west bengal",
    "assam",
    "punjab",
    "bihar",
    "haryana"
]


natural_and_scenic_states = [
    "himachal pradesh",
    "uttarakhand",
    "jammu and kashmir",
    "meghalaya",
    "sikkim",
    "arunachal pradesh",
    "jharkhand",
    "nagaland",
    "tripura",
    "mizoram"
]


commercial_and_technological_states = [
    "maharashtra",      
    "karnataka",        
    "telangana",          
    "gujarat",           
    "andhra pradesh",     
    "chhattisgarh"       
]

spiritual_and_historical_states = [
    "uttar pradesh",   
    "odisha",         
    "mp",    
    "manipur"            
]

In [11]:
def state_type(state_name):
    if isinstance(state_name, str): 
        if state_name in cultural_and_heritage_states:
            return 'cultural_and_heritage_state'
        elif state_name in natural_and_scenic_states:
            return 'natural_and_scenic_state'
        elif state_name in commercial_and_technological_states:
            return 'commercial_and_technological_state'
        elif state_name in spiritual_and_historical_states:
            return 'spiritual_and_historical_state'
    return None

In [12]:
df['state_categories'] = df['states_name'].apply(state_type)

In [13]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state

In [14]:
df['state_categories'].value_counts()

state_categories
cultural_and_heritage_state           2176
commercial_and_technological_state    1545
natural_and_scenic_state              1159
spiritual_and_historical_state         682
Name: count, dtype: int64

In [15]:
winter = [
    "kerala", 
    "karnataka",  
    "rajasthan", 
    "tamil nadu", 
    "gujarat", 
    "uttar pradesh", 
    "west bengal",
    "andhra pradesh",
    "mp",
    "haryana",
    "punjab", "bihar", 
    "telangana"
]

monsoon = [
    "maharashtra"
]

spring = [ 
    "assam"
]

autumn = [
    "odisha", 
    "jharkhand"
]

summer = [
    "arunachal pradesh", 
    "sikkim", 
    "chhattisgarh", 
    "meghalaya", 
    "nagaland", 
    "manipur", 
    "mizoram", 
    "tripura",
    "himachal pradesh",
    "uttarakhand",
    "jammu and kashmir"
]

In [16]:
def state_visit_type(state_name):
    if isinstance(state_name, str): 
        if state_name in winter:
            return 'winter'
        elif state_name in spring:
            return 'spring'
        elif state_name in monsoon:
            return 'monsoon'
        elif state_name in summer:
            return 'summer'
    return None

In [17]:
df['state_visit_type'] = df['states_name'].apply(state_visit_type)

In [18]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_type
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter

In [19]:
df['state_visit_type'].value_counts()

state_visit_type
winter     3699
summer     1142
monsoon     404
spring      138
Name: count, dtype: int64

# best_time_to_visit

In [20]:
df['best_time_to_visit'].value_counts()

best_time_to_visit
october to march                            1626
throughout the year                          887
july to march                                454
october to june                              346
september to march                           260
october to february                          236
november to february                         180
september to february                        124
september to may                             118
november to march                            118
october to may                                88
april to october                              82
october - march                               76
october to apr                                72
september to june                             69
july to april                                 52
october - february; april, may                41
june to march                                 39
december to february                          37
september to december, february to march      34
october to april                              34
february to march, september to december      31
march to june                                 29
september to apr                              27
october-march                                 27
march - june; september - november            24
november to april                             22
april to september                            21
mid march to mid november                     20
august to march                               20
april to june, october to december            20
july to february                              20
may to october                                19
october - february                            18
october to january                            17
june to september                             14
october to november, february to march        14
october to december, february to march        14
march - june; september - october             13
april to june; september, october             12
may to september                              12
march -june; september - november             11
november-february                             10
march to june; october - november             10
march to may, september to november            9
september - november ; march - may             9
march to june, september to november           9
november to mid march                          8
august to april                                8
june - august; november - february             7
mar to june, october to november               7
october - april                                5
Name: count, dtype: int64

In [21]:
df['best_time_to_visit'].value_counts().shape

(52,)

In [22]:
summer_to_autumn = ["march to june, september to november",'march to june; october - november',"march to may, september to november",
                   "march -june; september - november","may to september","april to june; september, october","march - june; september - october",
                   "june to september","may to october","mid march to mid november","april to september","march - june; september - november",
                  "march to june","april to october"]

summer_to_winter = ["june - august; november - february","july to february","april to june, october to december"]


autumn_to_winter = ["november to mid march","november-february","october to december, february to march","october to november, february to march",
                    "october - february","october to january","august to march","october-march","february to march, september to december",
                   "september to december, february to march","december to february","october - march","november to march",
                   "september to february","november to february","october to february","september to march","october to march"]

autumn_to_summer = ["october - april","mar to june, october to november","august to april","september - november ; march - may",
                    "november to april","september to apr","october to april","october - february; april, may",
                    "october to apr","october to may","september to may","october to june"]

throughout_the_year = ["throughout the year","june to march","july to april","september to june","july to march"]

In [23]:
def best_time_to_visit_city(city_name):
    if isinstance(city_name, str): 
        if city_name in summer_to_autumn:
            return 'summer_to_autumn'
        elif city_name in summer_to_winter:
            return 'summer_to_winter'
        elif city_name in autumn_to_winter:
            return 'autumn_to_winter'
        elif city_name in autumn_to_summer:
            return 'autumn_to_summer'
        elif city_name in throughout_the_year:
            return 'throughout_the_year'
    return None

In [24]:
df['city_visit_time']= df['best_time_to_visit'].apply(best_time_to_visit_city)

In [25]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_type,city_visit_time
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter,autumn_to_winter

In [26]:
df.rename(columns={'state_visit_type':"state_visit_time"},inplace =True)

In [27]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_time,city_visit_time
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter,autumn_to_winter

In [28]:
df[['best_time_to_visit','city_visit_time']].value_counts()

best_time_to_visit                        city_visit_time
october to march                          autumn_to_winter       1626
throughout the year                       throughout_the_year     887
july to march                             throughout_the_year     454
october to june                           autumn_to_summer        346
september to march                        autumn_to_winter        260
october to february                       autumn_to_winter        236
november to february                      autumn_to_winter        180
september to february                     autumn_to_winter        124
september to may                          autumn_to_summer        118
november to march                         autumn_to_winter        118
october to may                            autumn_to_summer         88
april to october                          summer_to_autumn         82
october - march                           autumn_to_winter         76
october to apr                            autumn_to_summer         72
september to june                         throughout_the_year      69
july to april                             throughout_the_year      52
october - february; april, may            autumn_to_summer         41
june to march                             throughout_the_year      39
december to february                      autumn_to_winter         37
october to april                          autumn_to_summer         34
september to december, february to march  autumn_to_winter         34
february to march, september to december  autumn_to_winter         31
march to june                             summer_to_autumn         29
october-march                             autumn_to_winter         27
september to apr                          autumn_to_summer         27
march - june; september - november        summer_to_autumn         24
november to april                         autumn_to_summer         22
april to september                        summer_to_autumn         21
august to march                           autumn_to_winter         20
april to june, october to december        summer_to_winter         20
july to february                          summer_to_winter         20
mid march to mid november                 summer_to_autumn         20
may to october                            summer_to_autumn         19
october - february                        autumn_to_winter         18
october to january                        autumn_to_winter         17
october to december, february to march    autumn_to_winter         14
june to september                         summer_to_autumn         14
october to november, february to march    autumn_to_winter         14
march - june; september - october         summer_to_autumn         13
april to june; september, october         summer_to_autumn         12
may to september                          summer_to_autumn         12
march -june; september - november         summer_to_autumn         11
march to june; october - november         summer_to_autumn         10
november-february                         autumn_to_winter         10
september - november ; march - may        autumn_to_summer          9
march to june, september to november      summer_to_autumn          9
march to may, september to november       summer_to_autumn          9
august to april                           autumn_to_summer          8
november to mid march                     autumn_to_winter          8
mar to june, october to november          autumn_to_summer          7
june - august; november - february        summer_to_winter          7
october - april                           autumn_to_summer          5
Name: count, dtype: int64

In [29]:
df['city_visit_time'].value_counts()

city_visit_time
autumn_to_winter       2850
throughout_the_year    1501
autumn_to_summer        777
summer_to_autumn        285
summer_to_winter         47
Name: count, dtype: int64

In [30]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_time,city_visit_time
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter,autumn_to_winter

# 	cities_name

In [31]:
df['cities_name'].unique()

array(['araku valley', 'visakhapatnam', nan, 'tirupati', 'vijayawada',
       'anantapur', 'srisailam', 'ananthagiri hills', 'kurnool', 'guntur',
       'nellore', 'lepakshi', 'chittoor', 'kakinada', 'srikalahasti',
       'mantralayam', 'annavaram', 'puttaparthi', 'vizianagaram',
       'tawang', 'ziro', 'bomdila', 'roing', 'itanagar', 'dirang',
       'pasighat', 'bhalukpong', 'majuli', 'guwahati', 'dibrugarh',
       'jorhat', 'tinsukia', 'silchar', 'goalpara', 'bongaigaon',
       'dhemaji', 'tezpur', 'bodh gaya', 'patna', 'nalanda', 'vaishali',
       'rajgir', 'bhagalpur', 'muzaffarpur', 'raipur', 'jagdalpur',
       'bhilai', 'dwarka', 'somnath', 'diu', 'surat', 'vadodara',
       'ahmedabad', 'junagadh', 'rajkot', 'gandhinagar', 'bhavnagar',
       'porbandar', 'kutch', 'saputara', 'daman', 'silvassa', 'faridabad',
       'gurgaon', 'rohtak', 'panipat', 'karnal', 'kurukshetra', 'manali',
       'shimla', 'kasol', 'mcleodganj', 'kasauli', 'dalhousie', 'kullu',
       'chail', 'khajjiar', 'kufri', 'parvati valley', 'tirthan valley',
       'kaza', 'palampur', 'narkanda', 'kalpa', 'kinnaur', 'kangra',
       'shoghi', 'chamba', 'mandi', 'nahan', 'deoghar', 'jamshedpur',
       'ranchi', 'netarhat', 'hazaribagh', 'dhanbad', 'coorg', 'badami',
       'mysore', 'hampi', 'gokarna', 'udupi', 'chikmagalur',
       'murudeshwar', 'bangalore', 'dandeli', 'kabini', 'kudremukh',
       'pattadakal', 'devbagh', 'karwar', 'bijapur', 'mangalore',
       'srirangapatna', 'dharmasthala', 'br hills', 'sringeri', 'aihole',
       'bidar', 'belgaum', 'munnar', 'kochi', 'alleppey', 'wayanad',
       'varkala', 'kumarakom', 'vagamon', 'kovalam', 'idukki',
       'kozhikode', 'vythiri', 'thekkady', 'thrissur', 'palakkad',
       'nelliyampathy', 'nilambur', 'trivandrum', 'kalpetta', 'kollam',
       'guruvayur', 'malampuzha', 'kannur', 'thenmala', 'kottayam',
       'kumily', 'pathanamthitta', 'ernakulam', 'malappuram', 'bhopal',
       'indore', 'ujjain', 'gwalior', 'jabalpur', 'sanchi', 'khajuraho',
       'amarkantak', 'maheshwar', 'mandu', 'omkareshwar', 'pachmarhi',
       'orchha', 'shivpuri', 'satna', 'burhanpur', 'mumbai', 'pune',
       'aurangabad', 'nagpur', 'mahabaleshwar', 'lonavala', 'khandala',
       'matheran', 'shirdi', 'malshej ghat', 'bhimashankar',
       'chikhaldara', 'panvel', 'murud janjira', 'dapoli', 'imphal',
       'bishnupur', 'shillong', 'mawsynram', 'aizawl', 'kohima',
       'dimapur', 'bhubaneswar', 'puri', 'konark', 'cuttack', 'rourkela',
       'sambalpur', 'ratnagiri', 'rayagada', 'jeypore', 'amritsar',
       'chandigarh', 'ludhiana', 'jalandhar', 'patiala', 'pathankot',
       'jaipur', 'udaipur', 'jodhpur', 'jaisalmer', 'ajmer', 'pushkar',
       'bikaner', 'mount abu', 'kota', 'alwar', 'bharatpur',
       'chittorgarh', 'sikar', 'jhunjhunu', 'churu', 'gangtok', 'pelling',
       'chennai', 'coimbatore', 'madurai', 'tirunelveli', 'kanyakumari',
       'rameshwaram', 'kodaikanal', 'ooty', 'coonoor', 'yercaud',
       'yelagiri', 'vellore', 'kanchipuram', 'hyderabad', 'warangal',
       'nizamabad', 'khammam', 'adilabad', 'nalgonda', 'agartala', 'agra',
       'varanasi', 'lucknow', 'kanpur', 'prayagraj', 'ghaziabad', 'noida',
       'meerut', 'aligarh', 'muzaffarnagar', 'jhansi', 'mathura',
       'ayodhya', 'sarnath', 'dehradun', 'haridwar', 'rishikesh',
       'mussoorie', 'nainital', 'almora', 'pithoragarh', 'chamoli',
       'uttarkashi', 'bageshwar', 'champawat', 'dhanaulti', 'haldwani',
       'kolkata', 'darjeeling', 'howrah', 'siliguri', 'durgapur',
       'bardhaman', 'malda', 'jalpaiguri', 'bankura', 'purulia',
       'cooch behar', 'murshidabad', 'port blair', 'neil island',
       'srinagar', 'gulmarg', 'pahalgam', 'leh', 'ladakh', 'jammu',
       'patnitop', 'anantnag', 'kargil'], dtype=object)

In [32]:
# Categories of Cities in lowercase
spiritual_cities = [
    'rishikesh', 'haridwar', 'bodh gaya', 'puttaparthi', 'annavaram', 
    'srisailam', 'tirupati', 'vaishali', 'rajgir', 'deoghar', 'kashi', 
    'ayodhya', 'sarnath','mantralayam', 'srikalahasti', 'somnath', 'dwarka', 'bhilai', 
    'ujjain', 'omkareshwar', 'tirunelveli', 'rameshwaram', 
    'dehradun', 'haridwar', 'rishikesh', 'mawsynram', 'amritsar','lepakshi', 'gandhinagar', 'bhavnagar', 'saputara', 
    'hazaribagh', 'pattadakal', 'aihole', 'trivandrum', 
    'kurukshetra', 'sanchi', 'shivpuri', 'satna', 'nalgonda','sringeri', 'guruvayur','shirdi','guwahati','prayagraj', 'mathura', 'aurangabad',
    'aurangabad', 'mathura', 'prayagraj', 'jabalpur', 'bhagalpur',"varanasi"

]

hilly_cities = [
    'shimla', 'manali', 'kullu', 'nainital', 'almora', 'mussoorie', 
    'darjeeling', 'ooty', 'coonoor', 'yercaud', 'munnar', 'gulmarg', 
    'khandala', 'lonavala', 'mahabaleshwar', 'kasauli', 'chail', 
    'khajjiar', 'narkanda', 'palampur', 'leh', 'ladakh', 'patnitop',
    'araku valley', 'ananthagiri hills', 'mcleodganj', 'dalhousie',
    'kufri', 'parvati valley', 'tirthan valley', 'kaza', 'kalpa', 
    'kinnaur', 'kangra', 'shoghi', 'chamba', 'mandi', 'nahan',
    'netarhat', 'badami', 'nainital', 'mussoorie', 'almoara', 
    'chikhaldara', 'pahalgam', 'kodaikanal', 'ooty', 'yercaud',  'ziro', 'bomdila', 'roing', 'dirang', 'pasighat', 
    'jagdalpur', 'junagadh', 'karwar', 'idukki', 'vythiri', 
    'kalpetta', 'thenmala', 'kottayam', 'kumily', 
    'pathanamthitta', 'ernakulam', 'malappuzha', 
    'br hills', 'malda', 'sambalpur', 'bhimashankar','kasol','palakkad', 'nelliyampathy', 'malshej ghat', 'utarkashi','uttarkashi','srinagar',
    'Shillong','jammu', 'patnitop', 'anantnag', 'kargil','tawang', 'aizawl', 'silchar','tawang', 'aizawl', 'silchar','shillong',
    "siliguri",'haldwani','jalpaiguri','pathankot','kohima','itanagar','tezpur','champawat'
]

beach_cities = [
    'goa', 'kochi', 'alleppey', 'varkala', 'kumarakom', 'gokarna', 
    'udupi', 'murudeshwar', 'kovalam', 'puri', 'diu', 'chikmagalur',
    'vizianagaram', 'daman', 'silvassa', 'kutch', 'porbandar',
    'vagamon', 'kozhikode', 'thekkady', 'thrissur', 'kollam',
    'kanyakumari', 'warangal', 'neil island', 'port blair', 
    'rourkela', 'konark', 'bhubaneswar', 'cuttack', 'durgapur','ratnagiri', 'rayagada', 'jeypore', 'gangtok', 
    'pelling', 'madurai', 'yelagiri', 'vellore', 'kanchipuram','murud janjira',"dapoli"
]

historical_cities = [
    'delhi', 'jaipur', 'agra',  'ludhiana', 'bikaner', 
    'patiala', 'ajmer', 'udaipur', 'jaisalmer', 'gwalior', 'khajuraho', 
    'maheshwar', 'orchha', 'amarkantak', 'hampi', 'mandav', 'mandu', 
   'ranchi', 'patna', 'nalanda', 'burhanpur',
    'khajuraho','anantapur', 'vijayawada', 'bijapur', 'mangalore', 
    'srirangapatna', 'dharmasthala', 'bidar', 'belgaum',
    'vijayawada', 'jaipur', 'jodhpur', 'pushkar', 
     'kota', 'alwar', 'bharatpur', 
    'chittorgarh', 'sikar', 'jhunjhunu', 'churu','jhansi','panipat'
]

metropolitan_cities = [
    'mumbai', 'delhi', 'bangalore', 'hyderabad', 'kolkata', 'chennai', 
    'pune', 'ahmedabad', 'surat', 'jaipur', 'lucknow', 'coimbatore', 
    'kanpur', 'nagpur', 'indore', 'vadodara', 'visakhapatnam', 'gurgaon', 
    'faridabad', 'noida', 'ghaziabad', 'meerut',"howrah"
]

nature_cities = [
    'coorg', 'kabini', 'wayanad', 'chikmagalur', 'kudremukh', 'munnar', 
    'brahmagiri', 'nagarhole', 'bandipur', 'satyamangalam', 'kanha', 
    'bandhavgarh', 'nilgiri hills', 'kodaikanal', 'dandeli', 'devbagh', 'nilambur', 'bageshwar', 'dhanaulti', 
    'bardhaman', 'purulia', 'bishnupur', 'dhanbad','cooch behar', 'chamoli','malampuzha','chandigarh','matheran','pithoragarh', 'tinsukia', 'dibrugarh', 'imphal', 'agartala',
    "dhemaji",'bongaigaon',"goalpara","mount abu","pachmarhi"
]


adventure_cities = [
    'auli', 'manali', 'rishikesh', 'kullu', 'darjeeling', 'gulmarg', 
    'leh', 'ladakh', 'chikmagalur', 'coorg', 'munnar', 'kodaikanal'
]

cultural_cities = [
    'varanasi', 'kolkata', 'chennai', 'mumbai', 'hyderabad', 'delhi', 
    'jaipur', 'ahmedabad', 'lucknow', 'indore', 'gwalior', 'bhopal', 
    'patna', 'agra', 'coimbatore','mysore', 'kannur', 'malappuram'
]

rural_cities = [
    'ananthapur', 'kurnool', 'guntur', 'nellore', 'kakinada', 'chittoor', 
    'rajkot', 'bhalukpong', 'majuli', 'dimapur', 'bankura', 
    'murshidabad', 'dhenkanal', 'nandurbar', 'yavatmal'
]

other_cities = [
    'aurangabad', 'nagpur', 'panvel', 
     'dapoli', 'imphal', 'aizawl', 
    'kohima', 'itanagar', 'tawang',  'mysore', 'karnal',
     'dibrugarh', 'jorhat', 'tinsukia', 'silchar', 'goalpara', 
    'bongaigaon', 'dhemaji', 'tezpur', 'bhagalpur', 'muzaffarpur',
    'raipur', 'jamshedpur', 'shillong', 'jalandhar', 'pathankot', 
    'nizamabad', 'khammam', 'agartala', 'prayagraj', 'aligarh', 
    'muzaffarnagar', 'mathura', 'bhopal', 'indore', 
     'jabalpur', 'pithoragarh', 'champawat', 
    'haldwani', 'howrah', 'siliguri', 'malda', 'jalpaiguri','rohtak', 'panipat', 'kurukshetra', 'kannur', 'malappuzha', 'malappuram', 'adilabad'
    'dhanbad', 'dandeli','adilabad','jamshedpur', 'raipur', 'howrah', 'siliguri'
]

In [33]:
def city_type(city_name):
    if isinstance(city_name, str): 
        if city_name in spiritual_cities:
            return 'spiritual type'
        elif city_name in hilly_cities:
            return 'hilly type'
        elif city_name in beach_cities:
            return 'beach type'
        elif city_name in historical_cities:
            return 'historical type'
        elif city_name in metropolitan_cities:
            return 'metropolitan type'
        elif city_name in nature_cities:
            return 'nature type'
        elif city_name in adventure_cities:
            return 'adventure type'
        elif city_name in cultural_cities:
            return 'cultural type'
        elif city_name in rural_cities:
            return 'rural type'
        elif city_name in other_cities:
            return 'other type'
    return None

In [34]:
df['city_type'] = df['cities_name'].apply(city_type)

In [35]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_time,city_visit_time,city_type
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter,autumn_to_winter,hilly type

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6117 entries, 0 to 6116
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   visiting_places                   6117 non-null   object
 1   visiting_places_rating            3486 non-null   float64
 2   visiting_place_summary            5811 non-null   object
 3   visiting_place_tokenized_summary  5811 non-null   object
 4   distance_from_city_center         5293 non-null   float64
 5   cities_name                       5736 non-null   object
 6   city_rating                       5460 non-null   float64
 7   city_summary                      5562 non-null   object
 8   city_tokenized_summary            5562 non-null   object
 9   no_of_tourist_attration           5460 non-null   float64
 10  best_time_to_visit                5460 non-null   object
 11  states_name                       5562 non-null   object
 12  state_categories                  5562 non-null   object
 13  state_visit_time                  5383 non-null   object
 14  city_visit_time                   5460 non-null   object
 15  city_type                         5736 non-null   object
dtypes: float64(4), object(12)
memory usage: 764.8+ KB

In [37]:
df.head(1)

,visiting_places,visiting_places_rating,visiting_place_summary,visiting_place_tokenized_summary,distance_from_city_center,cities_name,city_rating,city_summary,city_tokenized_summary,no_of_tourist_attration,best_time_to_visit,states_name,state_categories,state_visit_time,city_visit_time,city_type
0,borra caves,4.6,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",18.0,araku valley,4.8,araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",8.0,september to february,andhra pradesh,commercial_and_technological_state,winter,autumn_to_winter,hilly type

In [38]:
df.columns

Index(['visiting_places', 'visiting_places_rating', 'visiting_place_summary',
       'visiting_place_tokenized_summary', 'distance_from_city_center',
       'cities_name', 'city_rating', 'city_summary', 'city_tokenized_summary',
       'no_of_tourist_attration', 'best_time_to_visit', 'states_name',
       'state_categories', 'state_visit_time', 'city_visit_time', 'city_type'],
      dtype='object')

In [39]:
df.shape

(6117, 16)

In [47]:
df = df[['visiting_places','visiting_places_rating','distance_from_city_center',
         'cities_name','city_rating','city_type','city_visit_time','no_of_tourist_attration',
         'states_name','state_categories','state_visit_time','visiting_place_summary','visiting_place_tokenized_summary',
         'city_summary','city_tokenized_summary','best_time_to_visit']]

In [48]:
df.head(1)

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
0,borra caves,4.6,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,borra caves borra guhalu known native language discovered william king george geological survey india 1807,"['borra', 'caves', 'borra', 'guhalu', 'known', 'native', 'language', 'discovered', 'william', 'king', 'george', 'geological', 'survey', 'india', '1807']",araku valley comparatively unexplored hill station mostly visited locals weekend getaway situated 120 kilometres away vishakhapatnam youre tourist looking exclusivity tranquillity vistadome train leaves vishakhapatnam 650 making way 58 tu,"['araku', 'valley', 'comparatively', 'unexplored', 'hill', 'station', 'mostly', 'visited', 'locals', 'weekend', 'getaway', 'situated', '120', 'kilometres', 'away', 'vishakhapatnam', 'youre', 'tourist', 'looking', 'exclusivity', 'tranquillity', 'vistadome', 'train', 'leaves', 'vishakhapatnam', '650', 'making', 'way', '58', 'tu']",september to february

In [49]:
df.shape

(6117, 16)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6117 entries, 0 to 6116
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   visiting_places                   6117 non-null   object
 1   visiting_places_rating            3486 non-null   float64
 2   distance_from_city_center         5293 non-null   float64
 3   cities_name                       5736 non-null   object
 4   city_rating                       5460 non-null   float64
 5   city_type                         5736 non-null   object
 6   city_visit_time                   5460 non-null   object
 7   no_of_tourist_attration           5460 non-null   float64
 8   states_name                       5562 non-null   object
 9   state_categories                  5562 non-null   object
 10  state_visit_time                  5383 non-null   object
 11  visiting_place_summary            5811 non-null   object
 12  visiting_place_tokenized_summary  5811 non-null   object
 13  city_summary                      5562 non-null   object
 14  city_tokenized_summary            5562 non-null   object
 15  best_time_to_visit                5460 non-null   object
dtypes: float64(4), object(12)
memory usage: 764.8+ KB

In [51]:
df.to_csv("feature-engineering-city-state.csv",index=False)