In [1]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df1 = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\tour_packages.csv")
df2 = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\tour_packages_1.csv")
df3 = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\tour_packages_2.csv")
df4 = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\tour_packages_3.csv")

In [3]:
df1

,package_name,duration,city_list,price,persons
0,Amazing Amaravathi,2 Nights / 3 Days,Amaravathi(2N),"₹ 8,000*\n \n pe...",per adult on twin sharing
1,Alluring Amaravathi and Vijayawada,3 Nights / 4 Days,Amaravathi(1N) → Vijaywada(2N),"₹ 10,000*\n \n p...",per adult on twin sharing
2,"Awesome Amaravathi, Vijaywada & Kakinada",4 Nights / 5 Days,Amaravathi(1N) → Vijaywada(1N) → Kakinada(2N),"₹ 12,499*\n \n p...",per adult on twin sharing
3,Delights of Andhra Pradesh including Amaravathi,6 Nights / 7 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 20,000*\n \n p...",per adult on twin sharing
4,Gems of Andhra Pradesh Including Amaravathi an...,7 Nights / 8 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 23,500*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
3529,Ladakh & Kargil Honeymoon Package for Explorer...,8 Nights / 9 Days,Srinagar(1N) → Kargil(1N) → Leh(4N) → Nubra...,"₹ 38,870*\n \n p...",per adult on twin sharing
3530,"Dazzling Srinagar, Kargil & More",9 Nights / 10 Days,Srinagar(2N) → Kargil(1N) → Ladakh(1N) → Nubra...,"₹ 40,500*\n \n p...",per adult on twin sharing
3531,"Incredible Ladakh, Manali, Nubra & More",9 Nights / 10 Days,Manali(1N) → Srinagar(2N) → Kargil(1N) → Ladak...,"₹ 42,000*\n \n p...",per adult on twin sharing
3532,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
3533,Shimla to Jammu Ultimate Tour Package for 12 n...,12 Nights / 13 Days,Manali(1N) → Jispa(1N) → Leh(3N) → Nubra Va...,"₹ 38,000*\n \n p...",per adult on twin sharing

In [4]:
df1.shape

(3534, 5)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  3534 non-null   object
 1   duration      3534 non-null   object
 2   city_list     3532 non-null   object
 3   price         3534 non-null   object
 4   persons       3534 non-null   object
dtypes: object(5)
memory usage: 138.2+ KB

In [5]:
df2

,package_name,duration,city_list,price,persons
0,Escape to Tawang Dirang and Bomdila Group Package,6 Nights / 7 Days,Bhalukpong(1N) → Dirang(1N) → Tawang(3N) → ...,"₹ 19,999*\n \n p...",per adult on twin sharing
1,Fascinating Arunachal Pradesh Tour Itinerary 6...,5 Nights / 6 Days,Guwahati(1N) → Bhalukpong(1N) → Bomdila(1N) ...,"₹ 23,000*\n \n p...",per adult on twin sharing
2,Arunachal Pradesh Tour Package for Family,7 Nights / 8 Days,Bhalukpong (1N) → Dirang (1N) → Tawang (3N) ...,"₹ 33,222*\n \n p...",per adult on twin sharing
3,Ziro Valley Tour Package - 5 Nights 6 Days,5 Nights / 6 Days,Guwahati(0N) → Itanagar(1N) → Ziro(3N) → It...,"₹ 22,000*\n \n p...",per adult on twin sharing
4,Arunachal Pradesh Tour Itinerary 5 Days,4 Nights / 5 Days,Guwahati(0N) → Bhalukpong(1N) → Dirang(1N) →...,"₹ 19,000*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
1013,Kashmir with Mata Vaishno Devi 7 Night 8 Days ...,7 Nights / 8 Days,Katra(2N) → Srinagar(3N) → Srinagar(1N) → P...,"₹ 52,000*\n \n p...",per adult on twin sharing
1014,Kashmir Winter Special 2024 Package,5 Nights / 6 Days,Srinagar(3N) → Pahalgam(1N) → Srinagar(1N),"₹ 22,000*\n \n p...",per adult on twin sharing
1015,Kashmir Deluxe Package: 6 Nights 7 Days Tour,6 Nights / 7 Days,Srinagar(4N) → Pahalgam(1N) → Srinagar(1N),"₹ 15,500*\n \n p...",per adult on twin sharing
1016,5 Nights Kashmir Tour Package,5 Nights / 6 Days,Srinagar(4N) → Pahalgam(1N),"₹ 12,499*\n \n p...",per adult on twin sharing
1017,Amritsar and Katra Tour Package with Vaishno Devi,4 Nights / 5 Days,Amritsar(2N) → Katra(2N),"₹ 17,600*\n \n p...",per adult on twin sharing

In [6]:
df2.shape

(1018, 5)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  1018 non-null   object
 1   duration      1018 non-null   object
 2   city_list     1018 non-null   object
 3   price         1018 non-null   object
 4   persons       1018 non-null   object
dtypes: object(5)
memory usage: 39.9+ KB

In [7]:
df3

,package_name,duration,city_list,price,persons
0,Delhi Agra Jaipur Tour Package 4 Days,3 Nights / 4 Days,Delhi(1N) → Agra(1N) → Jaipur(1N),"₹ 12,900*\n \n p...",per adult on twin sharing
1,2 Nights 3 Days Jaipur Agra Tour Package from ...,2 Nights / 3 Days,Delhi(0N) → Agra(1N) → Jaipur(1N),"₹ 8,500*\n \n pe...",per adult on twin sharing
2,"Delhi, Agra, Jaipur Tour Package: Golden Tria...",5 Nights / 6 Days,Delhi(2N) → Agra(1N) → Jaipur(2N),"₹ 19,099*\n \n p...",per adult on twin sharing
3,Super Saver Delhi Agra Jaipur Varanasi Tour Pa...,6 Nights / 7 Days,Delhi(1N) → Jaipur(1N) → Agra(2N) → Varanas...,"₹ 24,000*\n \n p...",per adult on twin sharing
4,Delhi Agra Jaipur Tour Package 5 Days with Mat...,4 Nights / 5 Days,Delhi(1N) → Mathura(0N) → Agra(1N) → Jaipur...,"₹ 18,100*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
2875,Ladakh & Kargil Honeymoon Package for Explorer...,8 Nights / 9 Days,Srinagar(1N) → Kargil(1N) → Leh(4N) → Nubra...,"₹ 38,870*\n \n p...",per adult on twin sharing
2876,"Dazzling Srinagar, Kargil & More",9 Nights / 10 Days,Srinagar(2N) → Kargil(1N) → Ladakh(1N) → Nubra...,"₹ 40,500*\n \n p...",per adult on twin sharing
2877,"Incredible Ladakh, Manali, Nubra & More",9 Nights / 10 Days,Manali(1N) → Srinagar(2N) → Kargil(1N) → Ladak...,"₹ 42,000*\n \n p...",per adult on twin sharing
2878,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
2879,Shimla to Jammu Ultimate Tour Package for 12 n...,12 Nights / 13 Days,Manali(1N) → Jispa(1N) → Leh(3N) → Nubra Va...,"₹ 38,000*\n \n p...",per adult on twin sharing

In [8]:
df3.shape

(2880, 5)

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  2880 non-null   object
 1   duration      2880 non-null   object
 2   city_list     2880 non-null   object
 3   price         2880 non-null   object
 4   persons       2880 non-null   object
dtypes: object(5)
memory usage: 112.6+ KB

In [9]:
df4

,package_name,duration,city_list,price,persons
0,Amazing Amaravathi,2 Nights / 3 Days,Amaravathi(2N),"₹ 8,000*\n \n pe...",per adult on twin sharing
1,Alluring Amaravathi and Vijayawada,3 Nights / 4 Days,Amaravathi(1N) → Vijaywada(2N),"₹ 10,000*\n \n p...",per adult on twin sharing
2,"Awesome Amaravathi, Vijaywada & Kakinada",4 Nights / 5 Days,Amaravathi(1N) → Vijaywada(1N) → Kakinada(2N),"₹ 12,499*\n \n p...",per adult on twin sharing
3,Delights of Andhra Pradesh including Amaravathi,6 Nights / 7 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 20,000*\n \n p...",per adult on twin sharing
4,Gems of Andhra Pradesh Including Amaravathi an...,7 Nights / 8 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 23,500*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
4733,Ladakh & Kargil Honeymoon Package for Explorer...,8 Nights / 9 Days,Srinagar(1N) → Kargil(1N) → Leh(4N) → Nubra...,"₹ 38,870*\n \n p...",per adult on twin sharing
4734,"Dazzling Srinagar, Kargil & More",9 Nights / 10 Days,Srinagar(2N) → Kargil(1N) → Ladakh(1N) → Nubra...,"₹ 40,500*\n \n p...",per adult on twin sharing
4735,"Incredible Ladakh, Manali, Nubra & More",9 Nights / 10 Days,Manali(1N) → Srinagar(2N) → Kargil(1N) → Ladak...,"₹ 42,000*\n \n p...",per adult on twin sharing
4736,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
4737,Shimla to Jammu Ultimate Tour Package for 12 n...,12 Nights / 13 Days,Manali(1N) → Jispa(1N) → Leh(3N) → Nubra Va...,"₹ 38,000*\n \n p...",per adult on twin sharing

In [10]:
df4.shape

(4738, 5)

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4738 entries, 0 to 4737
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  4738 non-null   object
 1   duration      4738 non-null   object
 2   city_list     4735 non-null   object
 3   price         4738 non-null   object
 4   persons       4738 non-null   object
dtypes: object(5)
memory usage: 185.2+ KB

In [15]:
df5 = pd.concat([df1, df2], ignore_index=True)

In [17]:
df6 = pd.concat([df5, df3], ignore_index=True)

In [19]:
final_df = pd.concat([df6, df4], ignore_index=True)

In [20]:
final_df

,package_name,duration,city_list,price,persons
0,Amazing Amaravathi,2 Nights / 3 Days,Amaravathi(2N),"₹ 8,000*\n \n pe...",per adult on twin sharing
1,Alluring Amaravathi and Vijayawada,3 Nights / 4 Days,Amaravathi(1N) → Vijaywada(2N),"₹ 10,000*\n \n p...",per adult on twin sharing
2,"Awesome Amaravathi, Vijaywada & Kakinada",4 Nights / 5 Days,Amaravathi(1N) → Vijaywada(1N) → Kakinada(2N),"₹ 12,499*\n \n p...",per adult on twin sharing
3,Delights of Andhra Pradesh including Amaravathi,6 Nights / 7 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 20,000*\n \n p...",per adult on twin sharing
4,Gems of Andhra Pradesh Including Amaravathi an...,7 Nights / 8 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 23,500*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
12165,Ladakh & Kargil Honeymoon Package for Explorer...,8 Nights / 9 Days,Srinagar(1N) → Kargil(1N) → Leh(4N) → Nubra...,"₹ 38,870*\n \n p...",per adult on twin sharing
12166,"Dazzling Srinagar, Kargil & More",9 Nights / 10 Days,Srinagar(2N) → Kargil(1N) → Ladakh(1N) → Nubra...,"₹ 40,500*\n \n p...",per adult on twin sharing
12167,"Incredible Ladakh, Manali, Nubra & More",9 Nights / 10 Days,Manali(1N) → Srinagar(2N) → Kargil(1N) → Ladak...,"₹ 42,000*\n \n p...",per adult on twin sharing
12168,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
12169,Shimla to Jammu Ultimate Tour Package for 12 n...,12 Nights / 13 Days,Manali(1N) → Jispa(1N) → Leh(3N) → Nubra Va...,"₹ 38,000*\n \n p...",per adult on twin sharing

In [21]:
final_df.shape

(12170, 5)

In [22]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12170 entries, 0 to 12169
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  12170 non-null  object
 1   duration      12170 non-null  object
 2   city_list     12165 non-null  object
 3   price         12170 non-null  object
 4   persons       12170 non-null  object
dtypes: object(5)
memory usage: 475.5+ KB

In [25]:
final_df.duplicated().sum()

9675

In [24]:
final_df[final_df.duplicated()]

,package_name,duration,city_list,price,persons
55,Arunachal Pradesh Tour Itinerary - 8 Nights Pa...,8 Nights / 9 Days,Guwahati(0N) → Bhalukpong(1N) → Dirang(1N) →...,"₹ 37,000*\n \n p...",per adult on twin sharing
60,Group Tour to Arunachal Pradesh Package,7 Nights / 8 Days,Guwahati(0N) → Dirang(1N) → Tawang(2N) → Bomdi...,"₹ 29,999*\n \n p...",per adult on twin sharing
61,7N/8D Tawang Bomdila Ziro Itanagar Group Tour ...,7 Nights / 8 Days,Dirang(1N) → Tawang(2N) → Bomdila(1N) → Zir...,"₹ 29,999*\n \n p...",per adult on twin sharing
62,Group Tour to Arunachal Pradesh Package,7 Nights / 8 Days,Guwahati(0N) → Dirang(1N) → Tawang(2N) → Bomdi...,"₹ 29,999*\n \n p...",per adult on twin sharing
64,Arunachal Pradesh Tour Itinerary - 8 Nights Pa...,8 Nights / 9 Days,Guwahati(0N) → Bhalukpong(1N) → Dirang(1N) →...,"₹ 37,000*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
12165,Ladakh & Kargil Honeymoon Package for Explorer...,8 Nights / 9 Days,Srinagar(1N) → Kargil(1N) → Leh(4N) → Nubra...,"₹ 38,870*\n \n p...",per adult on twin sharing
12166,"Dazzling Srinagar, Kargil & More",9 Nights / 10 Days,Srinagar(2N) → Kargil(1N) → Ladakh(1N) → Nubra...,"₹ 40,500*\n \n p...",per adult on twin sharing
12167,"Incredible Ladakh, Manali, Nubra & More",9 Nights / 10 Days,Manali(1N) → Srinagar(2N) → Kargil(1N) → Ladak...,"₹ 42,000*\n \n p...",per adult on twin sharing
12168,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
12169,Shimla to Jammu Ultimate Tour Package for 12 n...,12 Nights / 13 Days,Manali(1N) → Jispa(1N) → Leh(3N) → Nubra Va...,"₹ 38,000*\n \n p...",per adult on twin sharing

In [33]:
final_df[final_df["package_name"]== "Srinagar Ladakh Adventure Tour Package"]

,package_name,duration,city_list,price,persons
3153,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
3347,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
3460,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
3532,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
6434,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
6725,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
6936,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
7430,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
11550,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
11943,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
11952,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
12089,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
12144,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing
12168,Srinagar Ladakh Adventure Tour Package,7 Nights / 8 Days,Srinagar(1N) → Kargil(1N) → Leh(3N) → Nubra...,"₹ 23,900*\n \n p...",per adult on twin sharing

In [34]:
final_df.drop_duplicates(inplace=True)

In [35]:
final_df

,package_name,duration,city_list,price,persons
0,Amazing Amaravathi,2 Nights / 3 Days,Amaravathi(2N),"₹ 8,000*\n \n pe...",per adult on twin sharing
1,Alluring Amaravathi and Vijayawada,3 Nights / 4 Days,Amaravathi(1N) → Vijaywada(2N),"₹ 10,000*\n \n p...",per adult on twin sharing
2,"Awesome Amaravathi, Vijaywada & Kakinada",4 Nights / 5 Days,Amaravathi(1N) → Vijaywada(1N) → Kakinada(2N),"₹ 12,499*\n \n p...",per adult on twin sharing
3,Delights of Andhra Pradesh including Amaravathi,6 Nights / 7 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 20,000*\n \n p...",per adult on twin sharing
4,Gems of Andhra Pradesh Including Amaravathi an...,7 Nights / 8 Days,Tirupati(1N) → Nellore(1N) → Amaravathi(1N) → ...,"₹ 23,500*\n \n p...",per adult on twin sharing
...,...,...,...,...,...
11365,Fun Fiesta in Andaman Tour Package,4 Nights / 5 Days,Port Blair(3N) → Havelock(1N),"₹ 10,193*\n \n p...",per adult on twin sharing
11371,Fun 'N' Andaman: Honeymoon Tour Package,4 Nights / 5 Days,Port Blair (2N) → Havelock Island (2N),"₹ 10,630*\n \n p...",per adult on twin sharing
11372,Family Tour to Port Blair and Havelock,3 Nights / 4 Days,Port Blair(2N) → Havelock(1N),"₹ 21,360*\n \n p...",per adult on twin sharing
11761,Winter Gulmarg Tour Package: Scenic Kashmir La...,7 Nights / 8 Days,Srinagar Houseboat(1N) → Srinagar(3N) → Sona...,"₹ 41,000*\n \n p...",per adult on twin sharing
11788,Gulmarg Honeymoon Package with Skiing (Winter ...,3 Nights / 4 Days,Gulmarg(3N),"₹ 15,100*\n \n p...",per adult on twin sharing

In [36]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2495 entries, 0 to 11788
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  2495 non-null   object
 1   duration      2495 non-null   object
 2   city_list     2494 non-null   object
 3   price         2495 non-null   object
 4   persons       2495 non-null   object
dtypes: object(5)
memory usage: 117.0+ KB

In [40]:
final_df['city_list'].isnull().sum()

1

In [41]:
final_df.dropna(inplace=True)

In [43]:
final_df.shape

(2494, 5)

In [42]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2494 entries, 0 to 11788
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   package_name  2494 non-null   object
 1   duration      2494 non-null   object
 2   city_list     2494 non-null   object
 3   price         2494 non-null   object
 4   persons       2494 non-null   object
dtypes: object(5)
memory usage: 116.9+ KB

In [44]:
final_df.to_csv("merge_tour_package.csv",index=False)