In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
pd.set_option('display.max_rows',None)

In [3]:
df = pd.read_csv(r"C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\feature-engineering-city-state.csv")

In [4]:
df.head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
0,borra caves,4.6,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,borra caves borra guhalu known native language...,"['borra', 'caves', 'borra', 'guhalu', 'known',...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
1,katiki waterfalls,4.1,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,clear waters river gosthani place goto list area,"['clear', 'waters', 'river', 'gosthani', 'plac...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
2,chaparai waterfalls,3.9,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,distance 13 km araku chaparai waterfalls dumbr...,"['distance', '13', 'km', 'araku', 'chaparai', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
3,tadimada waterfalls,NaN,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,tadimada waterfalls beauty would make fall lov...,"['tadimada', 'waterfalls', 'beauty', 'would', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
4,matsyagundam,NaN,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,popularly known fish pool matsyagundam near pa...,"['popularly', 'known', 'fish', 'pool', 'matsya...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february

In [5]:
df.isnull().sum()

visiting_places                        0
visiting_places_rating              2631
distance_from_city_center            824
cities_name                          381
city_rating                          657
city_type                            381
city_visit_time                      657
no_of_tourist_attration              657
states_name                          555
state_categories                     555
state_visit_time                     734
visiting_place_summary               306
visiting_place_tokenized_summary     306
city_summary                         555
city_tokenized_summary               555
best_time_to_visit                   657
dtype: int64

# visiting_places

In [6]:
df['visiting_places'].isnull().sum()

0

# visiting_places_rating

In [7]:
df['visiting_places_rating'].isnull().sum()

2631

In [8]:
df['visiting_places_rating'].value_counts()

visiting_places_rating
3.1    645
3.2    418
3.0    338
3.5    302
4.2    271
4.3    197
3.4    193
4.1    165
3.6    156
3.3    154
4.0    118
3.7    114
4.5     96
4.4     75
3.8     70
3.9     65
4.6     53
4.7     33
4.9     10
4.8     10
2.9      2
2.8      1
Name: count, dtype: int64

In [9]:
df['visiting_places_rating'].describe()

count    3486.000000
mean        3.578801
std         0.504915
min         2.800000
25%         3.100000
50%         3.400000
75%         4.100000
max         4.900000
Name: visiting_places_rating, dtype: float64

In [10]:
df['visiting_places_rating'] = df['visiting_places_rating'].fillna(value=3.57)

In [11]:
df['visiting_places_rating'].value_counts()

visiting_places_rating
3.57    2631
3.10     645
3.20     418
3.00     338
3.50     302
4.20     271
4.30     197
3.40     193
4.10     165
3.60     156
3.30     154
4.00     118
3.70     114
4.50      96
4.40      75
3.80      70
3.90      65
4.60      53
4.70      33
4.90      10
4.80      10
2.90       2
2.80       1
Name: count, dtype: int64

In [12]:
df.head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,borra caves borra guhalu known native language...,"['borra', 'caves', 'borra', 'guhalu', 'known',...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,clear waters river gosthani place goto list area,"['clear', 'waters', 'river', 'gosthani', 'plac...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
2,chaparai waterfalls,3.90,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,distance 13 km araku chaparai waterfalls dumbr...,"['distance', '13', 'km', 'araku', 'chaparai', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
3,tadimada waterfalls,3.57,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,tadimada waterfalls beauty would make fall lov...,"['tadimada', 'waterfalls', 'beauty', 'would', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,popularly known fish pool matsyagundam near pa...,"['popularly', 'known', 'fish', 'pool', 'matsya...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february

In [13]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           824
cities_name                         381
city_rating                         657
city_type                           381
city_visit_time                     657
no_of_tourist_attration             657
states_name                         555
state_categories                    555
state_visit_time                    734
visiting_place_summary              306
visiting_place_tokenized_summary    306
city_summary                        555
city_tokenized_summary              555
best_time_to_visit                  657
dtype: int64

# cities_name

In [14]:
df['cities_name'].isnull().sum()

381

In [15]:
df = df[df['cities_name'].notnull()]

In [16]:
df.head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,borra caves borra guhalu known native language...,"['borra', 'caves', 'borra', 'guhalu', 'known',...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,clear waters river gosthani place goto list area,"['clear', 'waters', 'river', 'gosthani', 'plac...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
2,chaparai waterfalls,3.90,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,distance 13 km araku chaparai waterfalls dumbr...,"['distance', '13', 'km', 'araku', 'chaparai', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
3,tadimada waterfalls,3.57,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,tadimada waterfalls beauty would make fall lov...,"['tadimada', 'waterfalls', 'beauty', 'would', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,popularly known fish pool matsyagundam near pa...,"['popularly', 'known', 'fish', 'pool', 'matsya...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february

In [17]:
df.shape

(5736, 16)

In [18]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                         276
city_type                             0
city_visit_time                     276
no_of_tourist_attration             276
states_name                         174
state_categories                    174
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

# city_rating

In [19]:
df['city_rating'].describe()

count    5460.000000
mean        4.154817
std         0.429730
min         1.000000
25%         4.000000
50%         4.200000
75%         4.400000
max         5.000000
Name: city_rating, dtype: float64

In [20]:
df['city_rating'] = df['city_rating'].fillna(value= 4.1)

In [21]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                     276
no_of_tourist_attration             276
states_name                         174
state_categories                    174
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

# no_of_tourist_attration

In [22]:
df['no_of_tourist_attration'].isnull().sum()

276

In [23]:
df[df['no_of_tourist_attration'].isnull()].head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
775,naida caves,3.5,1.0,diu,4.1,beach type,NaN,NaN,NaN,NaN,NaN,naida caves located periphery diu fort caves b...,"['naida', 'caves', 'located', 'periphery', 'di...",NaN,NaN,NaN
776,nagoa beach,4.2,5.0,diu,4.1,beach type,NaN,NaN,NaN,NaN,NaN,famous pristine beauty swaying palm trees nago...,"['famous', 'pristine', 'beauty', 'swaying', 'p...",NaN,NaN,NaN
777,gangeshwar mahadev temple,3.2,4.0,diu,4.1,beach type,NaN,NaN,NaN,NaN,NaN,situated 3 km diu gangeshwar temple dedicated ...,"['situated', '3', 'km', 'diu', 'gangeshwar', '...",NaN,NaN,NaN
778,diu fort,4.2,1.0,diu,4.1,beach type,NaN,NaN,NaN,NaN,NaN,fort diu located western coast indian built po...,"['fort', 'diu', 'located', 'western', 'coast',...",NaN,NaN,NaN
779,ghoghla beach,3.6,3.0,diu,4.1,beach type,NaN,NaN,NaN,NaN,NaN,golden sand beach undulates horizon arabian se...,"['golden', 'sand', 'beach', 'undulates', 'hori...",NaN,NaN,NaN

In [24]:
tourist_attractions = {
    'diu': 20,
    'daman': 18,
    'silvassa': 10,
    'belgaum': 12,
    'chandigarh': 51,
    'chamoli' : 13,
    'haldwani' : 3,
    'port blair': 22,
    'neil island': 6,
    'leh': 10,
    'ladakh': 52,
    'kargil' :8
}

In [25]:
 df['no_of_tourist_attration'] =df.apply(
    lambda row: tourist_attractions.get(row['cities_name'], row['no_of_tourist_attration']),
    axis=1
)

In [26]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                     276
no_of_tourist_attration               0
states_name                         174
state_categories                    174
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

In [27]:
df[df['no_of_tourist_attration'].isnull()]

Empty DataFrame
Columns: [visiting_places, visiting_places_rating, distance_from_city_center, cities_name, city_rating, city_type, city_visit_time, no_of_tourist_attration, states_name, state_categories, state_visit_time, visiting_place_summary, visiting_place_tokenized_summary, city_summary, city_tokenized_summary, best_time_to_visit]
Index: []

# city_visit_time

In [28]:
df['city_visit_time'].value_counts()

city_visit_time
autumn_to_winter       2850
throughout_the_year    1501
autumn_to_summer        777
summer_to_autumn        285
summer_to_winter         47
Name: count, dtype: int64

In [29]:
df['city_visit_time'].isnull().sum()

276

In [30]:
df[df['city_visit_time'].isnull()].head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
775,naida caves,3.5,1.0,diu,4.1,beach type,NaN,20.0,NaN,NaN,NaN,naida caves located periphery diu fort caves b...,"['naida', 'caves', 'located', 'periphery', 'di...",NaN,NaN,NaN
776,nagoa beach,4.2,5.0,diu,4.1,beach type,NaN,20.0,NaN,NaN,NaN,famous pristine beauty swaying palm trees nago...,"['famous', 'pristine', 'beauty', 'swaying', 'p...",NaN,NaN,NaN
777,gangeshwar mahadev temple,3.2,4.0,diu,4.1,beach type,NaN,20.0,NaN,NaN,NaN,situated 3 km diu gangeshwar temple dedicated ...,"['situated', '3', 'km', 'diu', 'gangeshwar', '...",NaN,NaN,NaN
778,diu fort,4.2,1.0,diu,4.1,beach type,NaN,20.0,NaN,NaN,NaN,fort diu located western coast indian built po...,"['fort', 'diu', 'located', 'western', 'coast',...",NaN,NaN,NaN
779,ghoghla beach,3.6,3.0,diu,4.1,beach type,NaN,20.0,NaN,NaN,NaN,golden sand beach undulates horizon arabian se...,"['golden', 'sand', 'beach', 'undulates', 'hori...",NaN,NaN,NaN

In [31]:
visit_time = {
    'diu':'autumn_to_winter',
    'daman': 'autumn_to_winter',
    'silvassa': 'autumn_to_winter',
    'belgaum': 'summer_to_autumn',
    'chandigarh':'autumn_to_winter',
    'chamoli' : 'autumn_to_summer',
    'haldwani' :'autumn_to_winter' ,
    'port blair': 'autumn_to_summer',
    'neil island': 'autumn_to_summer',
    'leh': 'summer_to_autumn',
    'ladakh': 'summer_to_autumn',
    'kargil' :'summer_to_autumn'
}

In [32]:
 df['city_visit_time'] =df.apply(
    lambda row: visit_time.get(row['cities_name'], row['city_visit_time']),
    axis=1
)

In [33]:
df[df['city_visit_time'].isnull()]

Empty DataFrame
Columns: [visiting_places, visiting_places_rating, distance_from_city_center, cities_name, city_rating, city_type, city_visit_time, no_of_tourist_attration, states_name, state_categories, state_visit_time, visiting_place_summary, visiting_place_tokenized_summary, city_summary, city_tokenized_summary, best_time_to_visit]
Index: []

In [34]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                       0
no_of_tourist_attration               0
states_name                         174
state_categories                    174
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

In [35]:
df.head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,borra caves borra guhalu known native language...,"['borra', 'caves', 'borra', 'guhalu', 'known',...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,clear waters river gosthani place goto list area,"['clear', 'waters', 'river', 'gosthani', 'plac...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
2,chaparai waterfalls,3.90,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,distance 13 km araku chaparai waterfalls dumbr...,"['distance', '13', 'km', 'araku', 'chaparai', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
3,tadimada waterfalls,3.57,NaN,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,tadimada waterfalls beauty would make fall lov...,"['tadimada', 'waterfalls', 'beauty', 'would', ...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter,popularly known fish pool matsyagundam near pa...,"['popularly', 'known', 'fish', 'pool', 'matsya...",araku valley comparatively unexplored hill sta...,"['araku', 'valley', 'comparatively', 'unexplor...",september to february

# states_name

In [36]:
df['states_name'].isnull().sum()

174

In [37]:
df[df['states_name'].isnull()].head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
775,naida caves,3.5,1.0,diu,4.1,beach type,autumn_to_winter,20.0,NaN,NaN,NaN,naida caves located periphery diu fort caves b...,"['naida', 'caves', 'located', 'periphery', 'di...",NaN,NaN,NaN
776,nagoa beach,4.2,5.0,diu,4.1,beach type,autumn_to_winter,20.0,NaN,NaN,NaN,famous pristine beauty swaying palm trees nago...,"['famous', 'pristine', 'beauty', 'swaying', 'p...",NaN,NaN,NaN
777,gangeshwar mahadev temple,3.2,4.0,diu,4.1,beach type,autumn_to_winter,20.0,NaN,NaN,NaN,situated 3 km diu gangeshwar temple dedicated ...,"['situated', '3', 'km', 'diu', 'gangeshwar', '...",NaN,NaN,NaN
778,diu fort,4.2,1.0,diu,4.1,beach type,autumn_to_winter,20.0,NaN,NaN,NaN,fort diu located western coast indian built po...,"['fort', 'diu', 'located', 'western', 'coast',...",NaN,NaN,NaN
779,ghoghla beach,3.6,3.0,diu,4.1,beach type,autumn_to_winter,20.0,NaN,NaN,NaN,golden sand beach undulates horizon arabian se...,"['golden', 'sand', 'beach', 'undulates', 'hori...",NaN,NaN,NaN

In [38]:
state_name = {
    'diu':'gujarat',
    'daman': 'gujarat',
    'silvassa': 'gujarat',
    'belgaum': 'gujarat',
    'chamoli' : 'uttarakhand',
    'haldwani' :'uttarakhand' ,
    'port blair': 'andaman and nicobar',
    'neil island': 'andaman and nicobar',
    'leh': 'jammu and kashmir',
    'ladakh': 'jammu and kashmir',
    'kargil' :'jammu and kashmir'
}

In [39]:
 df['states_name'] =df.apply(
    lambda row: state_name.get(row['cities_name'], row['states_name']),
    axis=1
)

In [40]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                       0
no_of_tourist_attration               0
states_name                           0
state_categories                    174
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

In [41]:
df['states_name'].value_counts()

states_name
kerala                 722
karnataka              441
himachal pradesh       439
maharashtra            404
rajasthan              357
gujarat                355
tamil nadu             337
uttarakhand            300
uttar pradesh          284
mp                     277
andhra pradesh         248
jammu and kashmir      234
west bengal            212
haryana                150
assam                  138
punjab                 133
bihar                  127
telangana              116
odisha                 105
jharkhand               74
arunachal pradesh       65
sikkim                  43
chhattisgarh            41
meghalaya               40
andaman and nicobar     28
nagaland                20
manipur                 16
mizoram                 15
tripura                 15
Name: count, dtype: int64

# state_categories

In [42]:
df['state_categories'].isnull().sum()

174

In [43]:
df[df['state_categories'].isnull()]

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time,visiting_place_summary,visiting_place_tokenized_summary,city_summary,city_tokenized_summary,best_time_to_visit
775,naida caves,3.50,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,naida caves located periphery diu fort caves b...,"['naida', 'caves', 'located', 'periphery', 'di...",NaN,NaN,NaN
776,nagoa beach,4.20,5.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,famous pristine beauty swaying palm trees nago...,"['famous', 'pristine', 'beauty', 'swaying', 'p...",NaN,NaN,NaN
777,gangeshwar mahadev temple,3.20,4.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,situated 3 km diu gangeshwar temple dedicated ...,"['situated', '3', 'km', 'diu', 'gangeshwar', '...",NaN,NaN,NaN
778,diu fort,4.20,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,fort diu located western coast indian built po...,"['fort', 'diu', 'located', 'western', 'coast',...",NaN,NaN,NaN
779,ghoghla beach,3.60,3.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,golden sand beach undulates horizon arabian se...,"['golden', 'sand', 'beach', 'undulates', 'hori...",NaN,NaN,NaN
780,"sunset point, diu",3.50,2.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,beautiful hillock located near chakritirath be...,"['beautiful', 'hillock', 'located', 'near', 'c...",NaN,NaN,NaN
781,"st. paul church, diu",3.50,0.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,one famous tourist attractions diu magnanimous...,"['one', 'famous', 'tourist', 'attractions', 'd...",NaN,NaN,NaN
782,ins khukri memorial,3.20,2.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,ins khukri memorial memorial site indian naval...,"['ins', 'khukri', 'memorial', 'memorial', 'sit...",NaN,NaN,NaN
783,panikota fort,3.20,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,also known fortimdomar panikota fort former di...,"['also', 'known', 'fortimdomar', 'panikota', '...",NaN,NaN,NaN
784,zampa gateway,3.20,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,zampa gateway another attraction major landmar...,"['zampa', 'gateway', 'another', 'attraction', ...",NaN,NaN,NaN
785,sea shell museum,3.20,6.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,one shell museums world located diu houses col...,"['one', 'shell', 'museums', 'world', 'located'...",NaN,NaN,NaN
786,diu museum,3.20,0.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,famous tourist spot town diu museum set st tho...,"['famous', 'tourist', 'spot', 'town', 'diu', '...",NaN,NaN,NaN
787,chakratirth beach,3.10,2.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,nestled amidst picturesque hills meeting arabi...,"['nestled', 'amidst', 'picturesque', 'hills', ...",NaN,NaN,NaN
788,jallandhar beach,3.20,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,named demon jallandar sunny beach lies almost ...,"['named', 'demon', 'jallandar', 'sunny', 'beac...",NaN,NaN,NaN
789,gomtimata beach,3.20,12.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,located western end diu village vanakbara one ...,"['located', 'western', 'end', 'diu', 'village'...",NaN,NaN,NaN
790,church of st. francis of assisi,3.20,0.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,church one oldest churches diu church construc...,"['church', 'one', 'oldest', 'churches', 'diu',...",NaN,NaN,NaN
791,hoka trees,3.20,0.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,known doum palm around world hoka trees unique...,"['known', 'doum', 'palm', 'around', 'world', '...",NaN,NaN,NaN
792,dinosaur park,3.57,6.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,located close nagoa beach dinosaur park great ...,"['located', 'close', 'nagoa', 'beach', 'dinosa...",NaN,NaN,NaN
793,simbor beach,3.57,1.0,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,located village simbor diu namesake beach boas...,"['located', 'village', 'simbor', 'diu', 'names...",NaN,NaN,NaN
794,chapel of our lady rosary,3.57,NaN,diu,4.1,beach type,autumn_to_winter,20.0,gujarat,NaN,NaN,chapel lady rosary located old moti daman diu ...,"['chapel', 'lady', 'rosary', 'located', 'old',...",NaN,NaN,NaN
1059,devka beach,3.50,3.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,devka beach sight pure beauty like many beache...,"['devka', 'beach', 'sight', 'pure', 'beauty', ...",NaN,NaN,NaN
1060,mirasol lake garden,3.10,5.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,mirasol lake garden manmade marvel serves one ...,"['mirasol', 'lake', 'garden', 'manmade', 'marv...",NaN,NaN,NaN
1061,"lighthouse, daman",3.10,1.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,lighthouse sure leave imprint mind every touri...,"['lighthouse', 'sure', 'leave', 'imprint', 'mi...",NaN,NaN,NaN
1062,jampore beach,3.70,5.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,jampore beach one significant attractions dama...,"['jampore', 'beach', 'one', 'significant', 'at...",NaN,NaN,NaN
1063,city shopping,3.00,1.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,daman famous leather products apart bamboo mat...,"['daman', 'famous', 'leather', 'products', 'ap...",NaN,NaN,NaN
1064,st jerome fort,3.10,0.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,huge fort also known nani daman fort conspicuo...,"['huge', 'fort', 'also', 'known', 'nani', 'dam...",NaN,NaN,NaN
1065,nani daman,3.57,0.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,nani daman small daman name suggest smaller tw...,"['nani', 'daman', 'small', 'daman', 'name', 's...",NaN,NaN,NaN
1066,cathedral of bom jesus,3.20,1.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,daman strong link catholics owing portuguese c...,"['daman', 'strong', 'link', 'catholics', 'owin...",NaN,NaN,NaN
1067,somnath mahadev temple,3.57,5.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,somanath mahadev temple old hindu shrine dedic...,"['somanath', 'mahadev', 'temple', 'old', 'hind...",NaN,NaN,NaN
1068,dominican monastery,3.57,1.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,formerly catholic monastery place worship domi...,"['formerly', 'catholic', 'monastery', 'place',...",NaN,NaN,NaN
1069,jetty garden,3.57,1.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,jetty garden located shores ganga river near m...,"['jetty', 'garden', 'located', 'shores', 'gang...",NaN,NaN,NaN
1070,devka amusement park,3.57,3.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,devka amusement park happily situated overlook...,"['devka', 'amusement', 'park', 'happily', 'sit...",NaN,NaN,NaN
1071,daman ganga tourist complex,3.57,6.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,wellplanned beautifully laid garden daman gang...,"['wellplanned', 'beautifully', 'laid', 'garden...",NaN,NaN,NaN
1072,house of bockage,3.57,2.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,house bockage daman city named former residenc...,"['house', 'bockage', 'daman', 'city', 'named',...",NaN,NaN,NaN
1073,satya sagar udyan,3.57,3.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,located close coast guard air station beautifu...,"['located', 'close', 'coast', 'guard', 'air', ...",NaN,NaN,NaN
1074,collector office,3.57,2.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,collector office center administration portugu...,"['collector', 'office', 'center', 'administrat...",NaN,NaN,NaN
1075,vaibhav water world,3.57,4.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,located vapi daman vaibhav water park stands o...,"['located', 'vapi', 'daman', 'vaibhav', 'water...",NaN,NaN,NaN
1076,mirasol water park,3.57,5.0,daman,4.1,beach type,autumn_to_winter,18.0,gujarat,NaN,NaN,situated marwad daman mirasol water park theme...,"['situated', 'marwad', 'daman', 'mirasol', 'wa...",NaN,NaN,NaN
1077,lion safari wildlife park,3.50,2.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,true name park mostly visited lion safaris par...,"['true', 'name', 'park', 'mostly', 'visited', ...",NaN,NaN,NaN
1078,vanganga lake,3.50,6.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,vanganga lake situated amidst island gardens o...,"['vanganga', 'lake', 'situated', 'amidst', 'is...",NaN,NaN,NaN
1079,island garden,3.50,5.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,placed around lake place leave spellbound hour...,"['placed', 'around', 'lake', 'place', 'leave',...",NaN,NaN,NaN
1080,khanvel,3.70,17.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,cystal blue river flowing forest rich biodiver...,"['cystal', 'blue', 'river', 'flowing', 'forest...",NaN,NaN,NaN
1081,hirwa van gardens,3.20,3.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,literally meaning green forest name perfect de...,"['literally', 'meaning', 'green', 'forest', 'n...",NaN,NaN,NaN
1082,dudhani,3.70,21.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,lying 45 km away silvassa dudhni family picnic...,"['lying', '45', 'km', 'away', 'silvassa', 'dud...",NaN,NaN,NaN
1083,tribal museum,3.20,1.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,union territory dadra nagar haveli predominant...,"['union', 'territory', 'dadra', 'nagar', 'have...",NaN,NaN,NaN
1084,our lady of piety church,3.20,1.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,built 188689 church perfect showcase portugues...,"['built', '188689', 'church', 'perfect', 'show...",NaN,NaN,NaN
1085,tapovan tourist complex,3.20,15.0,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,famous historic temple lord siva located 18 km...,"['famous', 'historic', 'temple', 'lord', 'siva...",NaN,NaN,NaN
1086,shopping,3.57,NaN,silvassa,4.1,beach type,autumn_to_winter,10.0,gujarat,NaN,NaN,shopping one topmost things silvassa markets a...,"['shopping', 'one', 'topmost', 'things', 'silv...",NaN,NaN,NaN
2254,belgaum fort,3.57,3.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,belgaum fort popular tourist attraction locate...,"['belgaum', 'fort', 'popular', 'tourist', 'att...",NaN,NaN,NaN
2255,kapileshwar,3.57,2.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,kapileshwar temple holy shrine belgaum city de...,"['kapileshwar', 'temple', 'holy', 'shrine', 'b...",NaN,NaN,NaN
2256,gokak falls,3.57,50.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,gokak falls known beautifully turbulent waters...,"['gokak', 'falls', 'known', 'beautifully', 'tu...",NaN,NaN,NaN
2257,ramakrishna mission ashram,3.57,3.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,located belgaum fort compound ramakrishna miss...,"['located', 'belgaum', 'fort', 'compound', 'ra...",NaN,NaN,NaN
2258,kamal basti,3.57,3.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,kamal basadi also known kamal basti 10th c...,"['', 'kamal', 'basadi', '', 'also', 'known',...",NaN,NaN,NaN
2259,fort lake (kote kere),3.57,3.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,fort lake also known kote kere one picnic spot...,"['fort', 'lake', 'also', 'known', 'kote', 'ker...",NaN,NaN,NaN
2260,khade bazaar,3.57,2.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,every city great market sells almost anything ...,"['every', 'city', 'great', 'market', 'sells', ...",NaN,NaN,NaN
2261,rakaskop dam,3.57,17.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,rakaskop dam across markandeya river dam locat...,"['rakaskop', 'dam', 'across', 'markandeya', 'r...",NaN,NaN,NaN
2262,military mahadev temple,3.57,1.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,located camp road belgaum karnataka military m...,"['located', 'camp', 'road', 'belgaum', 'karnat...",NaN,NaN,NaN
2263,godchinamalaki falls,3.57,40.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,located distance 15 km gokak belgaum district ...,"['located', 'distance', '15', 'km', 'gokak', '...",NaN,NaN,NaN
2264,vajrapoha falls,3.57,31.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,nestled cosy hamlet jamboti near belgaum karna...,"['nestled', 'cosy', 'hamlet', 'jamboti', 'near...",NaN,NaN,NaN
2265,yellur fort,4.00,11.0,belgaum,4.1,historical type,summer_to_autumn,12.0,gujarat,NaN,NaN,perched top hill yellur fort also known rajhan...,"['perched', 'top', 'hill', 'yellur', 'fort', '...",NaN,NaN,NaN
5582,auli,3.00,26.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,amidst pilgrimages situated area auli place ad...,"['amidst', 'pilgrimages', 'situated', 'area', ...",NaN,NaN,NaN
5583,vasundhara waterfalls,3.30,44.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,vasundhara waterfall captivating sight offers ...,"['vasundhara', 'waterfall', 'captivating', 'si...",NaN,NaN,NaN
5584,mana,3.57,44.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,last indian settlement road tibet mana located...,"['last', 'indian', 'settlement', 'road', 'tibe...",NaN,NaN,NaN
5585,gopeshwar,3.50,2.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,gopeshwar small town offers beautiful sight ch...,"['gopeshwar', 'small', 'town', 'offers', 'beau...",NaN,NaN,NaN
5586,gopinath temple,3.30,2.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,famous temple attracts pilgrims large number t...,"['famous', 'temple', 'attracts', 'pilgrims', '...",NaN,NaN,NaN
5587,valley of flowers,3.00,45.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,bright beautiful visuals unending bouts fresh ...,"['bright', 'beautiful', 'visuals', 'unending',...",NaN,NaN,NaN
5588,kalpeshwar,3.50,NaN,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,one famous panch kedars located uttarakhand ka...,"['one', 'famous', 'panch', 'kedars', 'located'...",NaN,NaN,NaN
5589,brahmatal trek,3.50,26.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,paradise adventure lovers nature buffs brahmta...,"['paradise', 'adventure', 'lovers', 'nature', ...",NaN,NaN,NaN
5590,nandprayag,3.00,8.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,located 17 km chamoli nandprayag place conflue...,"['located', '17', 'km', 'chamoli', 'nandprayag...",NaN,NaN,NaN
5591,rudranath,3.50,13.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,one five kedars world rudranath place immense ...,"['one', 'five', 'kedars', 'world', 'rudranath'...",NaN,NaN,NaN
5592,rafting in upper alaknanda,3.50,36.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,rafting upper alaknanda river exhausting tirin...,"['rafting', 'upper', 'alaknanda', 'river', 'ex...",NaN,NaN,NaN
5593,badrinath,3.00,41.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,located distance 98 km chamoli badrinath templ...,"['located', 'distance', '98', 'km', 'chamoli',...",NaN,NaN,NaN
5594,shopping in chamoli,3.00,2.0,chamoli,4.1,nature type,autumn_to_summer,13.0,uttarakhand,NaN,NaN,chamoli offers particular sight shopping main ...,"['chamoli', 'offers', 'particular', 'sight', '...",NaN,NaN,NaN
5632,kathgodam,4.10,5.0,haldwani,4.1,hilly type,autumn_to_winter,3.0,uttarakhand,NaN,NaN,immediate north haldwani lies kathgodam erstwh...,"['immediate', 'north', 'haldwani', 'lies', 'ka...",NaN,NaN,NaN
5633,gaula dam,3.57,7.0,haldwani,4.1,hilly type,autumn_to_winter,3.0,uttarakhand,NaN,NaN,gaula gola dam barrage built gaula river locat...,"['gaula', 'gola', 'dam', 'barrage', 'built', '...",NaN,NaN,NaN
5634,shitla devi temple,3.57,8.0,haldwani,4.1,hilly type,autumn_to_winter,3.0,uttarakhand,NaN,NaN,shitla devi temple stands atop mountain near k...,"['shitla', 'devi', 'temple', 'stands', 'atop',...",NaN,NaN,NaN
5835,cellular jail,4.50,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,cellular jail also known kala pani old colonia...,"['cellular', 'jail', 'also', 'known', 'kala', ...",NaN,NaN,NaN
5836,corbyn's cove beach,4.20,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,corbyns cove nearest beach port blair quite po...,"['corbyns', 'cove', 'nearest', 'beach', 'port'...",NaN,NaN,NaN
5837,chidiya tapu,4.20,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,known bird island chidiya tapu picturesque lit...,"['known', 'bird', 'island', 'chidiya', 'tapu',...",NaN,NaN,NaN
5838,north bay island,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,north bay island andaman preferred tourists br...,"['north', 'bay', 'island', 'andaman', 'preferr...",NaN,NaN,NaN
5839,samudrika naval marine museum,4.70,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,samudrika naval museum located capital city po...,"['samudrika', 'naval', 'museum', 'located', 'c...",NaN,NaN,NaN
5840,mahatma gandhi marine national park,4.20,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,located southwestern coast andaman islands mah...,"['located', 'southwestern', 'coast', 'andaman'...",NaN,NaN,NaN
5841,anthropological museum port blair,4.50,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,anthropological museum situated heart port bla...,"['anthropological', 'museum', 'situated', 'hea...",NaN,NaN,NaN
5842,wandoor beach,4.50,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,small village southern part south andaman wand...,"['small', 'village', 'southern', 'part', 'sout...",NaN,NaN,NaN
5843,baratang island,4.70,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,baratang island also known ranchiwalas island ...,"['baratang', 'island', 'also', 'known', 'ranch...",NaN,NaN,NaN
5844,forest museum,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,located near outskirts port blair andaman nico...,"['located', 'near', 'outskirts', 'port', 'blai...",NaN,NaN,NaN
5845,mount harriet national park,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,mount harriet national park undoubtedly beauti...,"['mount', 'harriet', 'national', 'park', 'undo...",NaN,NaN,NaN
5846,chatham saw mill,4.50,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,chatham saw mill 19th century attraction port ...,"['chatham', 'saw', 'mill', '19th', 'century', ...",NaN,NaN,NaN
5847,viper island,4.60,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,years cellular jail constructed viper island u...,"['years', 'cellular', 'jail', 'constructed', '...",NaN,NaN,NaN
5848,rutland island,4.20,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,rutland lined virgin beaches one lesser visite...,"['rutland', 'lined', 'virgin', 'beaches', 'one...",NaN,NaN,NaN
5849,red skin island beach,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,red skin island one 15 beaches found inside ma...,"['red', 'skin', 'island', 'one', '15', 'beache...",NaN,NaN,NaN
5850,sandbar beach,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,sandbar beach basically long stretch sand conn...,"['sandbar', 'beach', 'basically', 'long', 'str...",NaN,NaN,NaN
5851,day trip to ross island,4.40,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,located 2 kilometres east port blair ross isla...,"['located', '2', 'kilometres', 'east', 'port',...",NaN,NaN,NaN
5852,marina park,3.57,NaN,port blair,4.1,beach type,autumn_to_summer,22.0,andaman and nicobar,NaN,NaN,overlooking seashore rajiv gandhi nagar marina...,"['overlooking', 'seashore', 'rajiv', 'gandhi',...",NaN,NaN,NaN

In [44]:
df['state_categories'].value_counts()

state_categories
cultural_and_heritage_state           2176
commercial_and_technological_state    1545
natural_and_scenic_state              1159
spiritual_and_historical_state         682
Name: count, dtype: int64

In [45]:
df[['states_name','state_categories']].value_counts()

states_name        state_categories
kerala             cultural_and_heritage_state           722
karnataka          commercial_and_technological_state    441
himachal pradesh   natural_and_scenic_state              439
maharashtra        commercial_and_technological_state    404
rajasthan          cultural_and_heritage_state           357
tamil nadu         cultural_and_heritage_state           337
gujarat            commercial_and_technological_state    295
uttarakhand        natural_and_scenic_state              284
uttar pradesh      spiritual_and_historical_state        284
mp                 spiritual_and_historical_state        277
andhra pradesh     commercial_and_technological_state    248
west bengal        cultural_and_heritage_state           212
jammu and kashmir  natural_and_scenic_state              164
haryana            cultural_and_heritage_state           150
assam              cultural_and_heritage_state           138
punjab             cultural_and_heritage_state           133
bihar              cultural_and_heritage_state           127
telangana          commercial_and_technological_state    116
odisha             spiritual_and_historical_state        105
jharkhand          natural_and_scenic_state               74
arunachal pradesh  natural_and_scenic_state               65
sikkim             natural_and_scenic_state               43
chhattisgarh       commercial_and_technological_state     41
meghalaya          natural_and_scenic_state               40
nagaland           natural_and_scenic_state               20
manipur            spiritual_and_historical_state         16
mizoram            natural_and_scenic_state               15
tripura            natural_and_scenic_state               15
Name: count, dtype: int64

In [46]:
state_categorie= {
    'gujarat':'commercial_and_technological_state',
    'uttarakhand':'natural_and_scenic_state',
    'andaman and nicobar':'natural_and_scenic_state',
    'jammu and kashmir':"natural_and_scenic_state"
}

In [47]:
 df['state_categories'] =df.apply(
    lambda row: state_categorie.get(row['states_name'], row['state_categories']),
    axis=1
)

In [48]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                       0
no_of_tourist_attration               0
states_name                           0
state_categories                      0
state_visit_time                    353
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

In [49]:
df['state_categories'].value_counts()

state_categories
cultural_and_heritage_state           2176
commercial_and_technological_state    1605
natural_and_scenic_state              1273
spiritual_and_historical_state         682
Name: count, dtype: int64

# state_visit_time

In [50]:
df['state_visit_time'].isnull().sum()

353

In [51]:
df[df['state_visit_time'].isnull()]['states_name'].value_counts()

states_name
odisha                 105
jharkhand               74
jammu and kashmir       70
gujarat                 60
andaman and nicobar     28
uttarakhand             16
Name: count, dtype: int64

In [52]:
df[['states_name','state_visit_time']].value_counts()

states_name        state_visit_time
kerala             winter              722
karnataka          winter              441
himachal pradesh   summer              439
maharashtra        monsoon             404
rajasthan          winter              357
tamil nadu         winter              337
gujarat            winter              295
uttarakhand        summer              284
uttar pradesh      winter              284
mp                 winter              277
andhra pradesh     winter              248
west bengal        winter              212
jammu and kashmir  summer              164
haryana            winter              150
assam              spring              138
punjab             winter              133
bihar              winter              127
telangana          winter              116
arunachal pradesh  summer               65
sikkim             summer               43
chhattisgarh       summer               41
meghalaya          summer               40
nagaland           summer               20
manipur            summer               16
mizoram            summer               15
tripura            summer               15
Name: count, dtype: int64

In [53]:
state_visit_time= {
    'gujarat':'winter',
    'uttarakhand':'summer',
    'andaman and nicobar':'winter',
    'jammu and kashmir':"summer",
    'odisha':'winter',
    'jharkhand':'winter'
}

In [54]:
 df['state_visit_time'] =df.apply(
    lambda row: state_visit_time.get(row['states_name'], row['state_visit_time']),
    axis=1
)

In [55]:
df.isnull().sum()

visiting_places                       0
visiting_places_rating                0
distance_from_city_center           513
cities_name                           0
city_rating                           0
city_type                             0
city_visit_time                       0
no_of_tourist_attration               0
states_name                           0
state_categories                      0
state_visit_time                      0
visiting_place_summary                3
visiting_place_tokenized_summary      3
city_summary                        174
city_tokenized_summary              174
best_time_to_visit                  276
dtype: int64

In [56]:
df[['states_name','state_visit_time']].value_counts()

states_name          state_visit_time
kerala               winter              722
karnataka            winter              441
himachal pradesh     summer              439
maharashtra          monsoon             404
rajasthan            winter              357
gujarat              winter              355
tamil nadu           winter              337
uttarakhand          summer              300
uttar pradesh        winter              284
mp                   winter              277
andhra pradesh       winter              248
jammu and kashmir    summer              234
west bengal          winter              212
haryana              winter              150
assam                spring              138
punjab               winter              133
bihar                winter              127
telangana            winter              116
odisha               winter              105
jharkhand            winter               74
arunachal pradesh    summer               65
sikkim               summer               43
chhattisgarh         summer               41
meghalaya            summer               40
andaman and nicobar  winter               28
nagaland             summer               20
manipur              summer               16
tripura              summer               15
mizoram              summer               15
Name: count, dtype: int64

# distance_from_city_center

In [57]:
df['distance_from_city_center'].isnull().sum()

513

In [58]:
df[df['distance_from_city_center'].isnull()]['visiting_place_summary'].head(10)

2      distance 13 km araku chaparai waterfalls dumbr...
3      tadimada waterfalls beauty would make fall lov...
7      padmapuram gardens known favourite spot among ...
28     tu142m aircraft indian navy served 29 years de...
34     native tribal community araku valley andhra pr...
50     temple lies distance 70 km tirupati constructe...
82     tirumala tirupati teppotsavam otherwise called...
83     tirumala venkateswara temple along richest tem...
106    haailand situated around 19 km vijayawada outs...
117    veerabhadra temple located lepakshi village 15...
Name: visiting_place_summary, dtype: object

In [59]:
df['distance_from_city_center'].describe()

count    5223.000000
mean       14.635459
std        22.468762
min         0.000000
25%         2.000000
50%         5.000000
75%        17.000000
max       150.000000
Name: distance_from_city_center, dtype: float64

In [60]:
pattern = r'(\d+\s*km)'
df['distance_nan'] = df['visiting_place_summary'].str.extract(pattern)

In [61]:
df['distance_nan'] = df['distance_nan'].str.split('km').str.get(0)

In [62]:

df['distance_nan_numeric'] = df['distance_nan'].str.extract(r'(\d+)')

df['distance_from_city_center'].fillna(df['distance_nan_numeric'], inplace=True)

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_23564\3688176002.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['distance_from_city_center'].fillna(df['distance_nan_numeric'], inplace=True)
C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_23564\3688176002.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['13' nan nan nan nan '70' nan nan '19' '15' '5' '4' nan nan '65' nan nan
 nan nan nan nan nan nan nan '14' '20' nan nan nan nan nan nan nan nan nan
 '120' nan '28' nan nan nan '50' '48' nan nan nan nan nan nan nan nan nan
 nan '85' nan nan nan nan nan '85' nan nan nan nan '9' nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan '32' nan nan
 nan nan nan nan nan '5' nan nan nan '17' nan nan nan nan nan '7' nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan '18' '26' nan '10' nan nan '16' nan '9' nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan '80' '9' '9' nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan '17' nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan '29' nan nan nan nan '10' nan nan nan '32' '17' nan nan nan
 '75' nan '1175' nan nan nan nan nan '5' nan nan nan nan nan nan nan nan
 '30' nan nan nan nan nan nan nan nan nan nan nan '32' nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan '30' nan nan nan nan
 nan nan nan nan nan nan '15' nan nan nan '200' nan '3' '40' '3' '134'
 '25' '54' nan nan nan '25' '25' nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan '45' nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan '5' nan nan nan nan nan nan
 nan nan nan nan nan nan nan '11' nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan '7' '7' '13' nan '7' nan nan nan nan nan nan nan '90'
 '60' '54' nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan '16'
 nan nan '42' '42' nan nan nan nan nan nan '3' nan nan nan nan nan nan nan
 nan nan nan nan nan '1' '9' nan nan nan '10' nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan '25' nan nan '25' nan nan nan
 '10' nan nan nan nan nan nan nan nan nan nan nan '30' nan nan nan nan nan
 nan nan nan nan nan nan nan nan '20' nan nan nan '52' nan '6' '4' '8'
 '15' nan '28' nan nan nan nan '15' nan nan nan nan nan '150' nan '138'
 '140' nan nan]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['distance_from_city_center'].fillna(df['distance_nan_numeric'], inplace=True)

In [63]:
df['distance_from_city_center'] = df['distance_from_city_center'].astype(float)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5736 entries, 0 to 6110
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   visiting_places                   5736 non-null   object
 1   visiting_places_rating            5736 non-null   float64
 2   distance_from_city_center         5304 non-null   float64
 3   cities_name                       5736 non-null   object
 4   city_rating                       5736 non-null   float64
 5   city_type                         5736 non-null   object
 6   city_visit_time                   5736 non-null   object
 7   no_of_tourist_attration           5736 non-null   float64
 8   states_name                       5736 non-null   object
 9   state_categories                  5736 non-null   object
 10  state_visit_time                  5736 non-null   object
 11  visiting_place_summary            5733 non-null   object
 12  visiting_place_tokenized_summary  5733 non-null   object
 13  city_summary                      5562 non-null   object
 14  city_tokenized_summary            5562 non-null   object
 15  best_time_to_visit                5460 non-null   object
 16  distance_nan                      774 non-null    object
 17  distance_nan_numeric              774 non-null    object
dtypes: float64(4), object(14)
memory usage: 851.4+ KB

In [65]:
df.isnull().sum()

visiting_places                        0
visiting_places_rating                 0
distance_from_city_center            432
cities_name                            0
city_rating                            0
city_type                              0
city_visit_time                        0
no_of_tourist_attration                0
states_name                            0
state_categories                       0
state_visit_time                       0
visiting_place_summary                 3
visiting_place_tokenized_summary       3
city_summary                         174
city_tokenized_summary               174
best_time_to_visit                   276
distance_nan                        4962
distance_nan_numeric                4962
dtype: int64

In [66]:
df[df['distance_from_city_center'].isnull()][['visiting_places','cities_name','distance_from_city_center']].head()

           visiting_places    cities_name  distance_from_city_center
3      tadimada waterfalls   araku valley                        NaN
7       padmapuram gardens   araku valley                        NaN
28  tu 142 aircraft museum  visakhapatnam                        NaN
34            itika pongal  visakhapatnam                        NaN
82             teppotsavam       tirupati                        NaN

In [67]:
# not a visiting places

df.drop(index=[34,82,83,141,144,228,231,284,319,383,412,635,1034,1086,1058,1210,1222,1281,1298,1341,1342,1343,1350,1357,1366,1381,1422,1425,
1426,1430,1438,1440,1456,1459,1497,1788,1859,1880,1882,1883,1932,1940,1999,2039,2073,2271,2284,2285,2294,2297,2299,2335,2337,
2338,2368,2401,2409,2439,2457,2469,2478,2548,2549,2550,2663,2664,2665,2666,2667,2734,2763,2920,3151,3171,3335,3368,3468,3474,
3537,3629,3746,3948,4023,4060,4061,4130,4131,4132,4133,4247,4280,4282,4313,4330,4351,4355,4358,4387,4399,4402,4405,4472,4570,
4571,4574,4581,4582,4588,4687,4750,4760,4847,4849,4953,4958,4965,5070,5086,5094,5097,5125,5126,5429,5433,5473,5474,5475,5476,
5510,5511,5557,5716,5754,5854,5855,5867,5875,5881,5893,5902,5931,6017,6020,6021,6024],inplace=True)

In [68]:
df.shape

(5591, 18)

In [69]:
df['distance_from_city_center'].isnull().sum()

288

In [84]:
df[df['distance_from_city_center'].isnull()][['visiting_places','cities_name','distance_from_city_center']].head()

,visiting_places,cities_name,distance_from_city_center
3,tadimada waterfalls,araku valley,NaN
7,padmapuram gardens,araku valley,NaN
28,tu 142 aircraft museum,visakhapatnam,NaN
139,musi river,ananthagiri hills,NaN
145,lord anantha padmanabha temple,ananthagiri hills,NaN

In [71]:
df.drop(index=[6068,6013,6004,6002,5705,5424],inplace=True)

In [72]:
df.drop(index=[1163],inplace=True)

In [85]:
df['distance_from_city_center'].isnull().sum()

281

In [86]:
df['distance_from_city_center'].describe()

count    5303.000000
mean       15.158589
std        27.930113
min         0.000000
25%         2.000000
50%         5.000000
75%        18.000000
max      1175.000000
Name: distance_from_city_center, dtype: float64

In [89]:
df['distance_from_city_center'] = df['distance_from_city_center'].fillna(value=15)

In [91]:
df.isnull().sum()

visiting_places                        0
visiting_places_rating                 0
distance_from_city_center              0
cities_name                            0
city_rating                            0
city_type                              0
city_visit_time                        0
no_of_tourist_attration                0
states_name                            0
state_categories                       0
state_visit_time                       0
visiting_place_summary                 3
visiting_place_tokenized_summary       3
city_summary                         163
city_tokenized_summary               163
best_time_to_visit                   259
distance_nan                        4810
distance_nan_numeric                4810
dtype: int64

In [92]:
df.drop(columns=['visiting_place_summary','visiting_place_tokenized_summary','city_summary','city_tokenized_summary',
                'best_time_to_visit','distance_nan','distance_nan_numeric'],inplace=True)

In [93]:
df.head()

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
2,chaparai waterfalls,3.90,13.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
3,tadimada waterfalls,3.57,15.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter

In [94]:
df.shape

(5584, 11)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5584 entries, 0 to 6110
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   visiting_places            5584 non-null   object
 1   visiting_places_rating     5584 non-null   float64
 2   distance_from_city_center  5584 non-null   float64
 3   cities_name                5584 non-null   object
 4   city_rating                5584 non-null   float64
 5   city_type                  5584 non-null   object
 6   city_visit_time            5584 non-null   object
 7   no_of_tourist_attration    5584 non-null   float64
 8   states_name                5584 non-null   object
 9   state_categories           5584 non-null   object
 10  state_visit_time           5584 non-null   object
dtypes: float64(4), object(7)
memory usage: 523.5+ KB

In [96]:
df.isnull().sum()

visiting_places              0
visiting_places_rating       0
distance_from_city_center    0
cities_name                  0
city_rating                  0
city_type                    0
city_visit_time              0
no_of_tourist_attration      0
states_name                  0
state_categories             0
state_visit_time             0
dtype: int64

In [ ]:
df.to_csv('missing_value_imputation_city_state.')