In [109]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\missing_value_imputation_city_state.csv')

In [111]:
df.head(10)

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
2,chaparai waterfalls,3.90,13.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
3,tadimada waterfalls,3.57,15.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
5,bheemili beach,3.57,78.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
6,tribal museum,3.57,3.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
7,padmapuram gardens,3.60,15.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
8,borra caves,4.20,69.0,visakhapatnam,4.4,metropolitan type,autumn_to_winter,27.0,andhra pradesh,commercial_and_technological_state,winter
9,submarine museum,3.40,12.0,visakhapatnam,4.4,metropolitan type,autumn_to_winter,27.0,andhra pradesh,commercial_and_technological_state,winter

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5584 entries, 0 to 5583
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   visiting_places            5584 non-null   object
 1   visiting_places_rating     5584 non-null   float64
 2   distance_from_city_center  5584 non-null   float64
 3   cities_name                5584 non-null   object
 4   city_rating                5584 non-null   float64
 5   city_type                  5584 non-null   object
 6   city_visit_time            5584 non-null   object
 7   no_of_tourist_attration    5584 non-null   float64
 8   states_name                5584 non-null   object
 9   state_categories           5584 non-null   object
 10  state_visit_time           5584 non-null   object
dtypes: float64(4), object(7)
memory usage: 480.0+ KB

In [113]:
df.shape

(5584, 11)

In [114]:
df.drop_duplicates(inplace=True)

In [115]:
df.duplicated().sum()

0

# recommender-system according to city type

In [116]:
df_name_type = df[['cities_name',"city_rating",'city_type','city_visit_time','states_name','state_categories','state_visit_time']]

In [117]:
df_name_type.duplicated().sum()

5294

In [118]:
df_name_type.drop_duplicates(inplace=True)

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_1040\822893423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_type.drop_duplicates(inplace=True)

In [119]:
pd.set_option('display.max_rows',None)

In [120]:
df_name_type.head(10)

,cities_name,city_rating,city_type,city_visit_time,states_name,state_categories,state_visit_time
0,araku valley,4.8,hilly type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
8,visakhapatnam,4.4,metropolitan type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
34,tirupati,4.5,spiritual type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
72,vijayawada,3.9,historical type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
96,anantapur,3.5,historical type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
108,srisailam,4.2,spiritual type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
124,ananthagiri hills,4.3,hilly type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
132,kurnool,4.6,rural type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
162,guntur,4.7,rural type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter
175,nellore,4.7,rural type,autumn_to_winter,andhra pradesh,commercial_and_technological_state,winter

In [121]:
pt = df_name_type.pivot_table(index='cities_name',columns='city_type',values='city_rating')

In [122]:
pt.fillna(0,inplace=True)

In [123]:
pt.head()

city_type,beach type,cultural type,hilly type,historical type,metropolitan type,nature type,other type,rural type,spiritual type
cities_name,,,,,,,,,
adilabad,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
agartala,0.0,0.0,0.0,0.0,0.0,3.8,0.0,0.0,0.0
agra,0.0,0.0,0.0,4.2,0.0,0.0,0.0,0.0,0.0
ahmedabad,0.0,0.0,0.0,0.0,4.1,0.0,0.0,0.0,0.0
aihole,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.2

In [124]:
from sklearn.metrics.pairwise import cosine_similarity

In [125]:
similarity_scores = cosine_similarity(pt)

In [126]:
similarity_scores.shape

(287, 287)

In [127]:
def recommend_city(city_name, cosine_sim = similarity_scores):
    index = np.where(pt.index==city_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key= lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pt.index[i[0]])

In [128]:
recommend_city('manali')

almora
ananthagiri hills
anantnag
araku valley
badami

In [129]:
df[df['cities_name']=='almora'][['cities_name','city_rating','city_type']].head(1)

     cities_name  city_rating   city_type
5053      almora          4.0  hilly type

In [130]:
df[df['cities_name']=='ananthagiri hills'][['cities_name','city_rating','city_type']].head(1)

           cities_name  city_rating   city_type
124  ananthagiri hills          4.3  hilly type

In [131]:
df[df['cities_name']=='anantnag'][['cities_name','city_rating','city_type']].head(1)

     cities_name  city_rating   city_type
5557    anantnag          4.0  hilly type

In [132]:
df[df['cities_name']=='araku valley'][['cities_name','city_rating','city_type']].head(1)

    cities_name  city_rating   city_type
0  araku valley          4.8  hilly type

In [133]:
df[df['cities_name']=='badami'][['cities_name','city_rating','city_type']].head(1)

     cities_name  city_rating   city_type
1590      badami          4.0  hilly type

# recommender-system according to city visit time

In [134]:
pt_1 = df_name_type.pivot_table(index='cities_name',columns='city_visit_time',values='city_rating')

In [135]:
pt_1.fillna(0,inplace=True)

In [136]:
pt_1.head()

city_visit_time,autumn_to_summer,autumn_to_winter,summer_to_autumn,summer_to_winter,throughout_the_year
cities_name,,,,,
adilabad,0.0,5.0,0.0,0.0,0.0
agartala,0.0,0.0,0.0,0.0,3.8
agra,0.0,4.2,0.0,0.0,0.0
ahmedabad,0.0,4.1,0.0,0.0,0.0
aihole,0.0,4.2,0.0,0.0,0.0

In [137]:
similarity_scores_1 = cosine_similarity(pt_1)

In [138]:
similarity_scores_1

array([[1., 0., 1., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       ...,
       [1., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 1.],
       [0., 0., 0., ..., 0., 1., 1.]])

In [139]:
def recommend_city_time(city_name,cosine_sim = similarity_scores_1):
    index = np.where(pt_1.index==city_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores_1[index])),key= lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pt_1.index[i[0]])

In [140]:
recommend_city_time('manali')

bageshwar
bongaigaon
chamoli
champawat
dandeli

In [141]:
df[df['cities_name']=='bageshwar'][['cities_name','city_rating','city_type','city_visit_time']].head(1)

     cities_name  city_rating    city_type   city_visit_time
5110   bageshwar          3.4  nature type  autumn_to_summer

In [142]:
df[df['cities_name']=='bongaigaon'][['cities_name','city_rating','city_type','city_visit_time']].head(1)

    cities_name  city_rating    city_type   city_visit_time
411  bongaigaon          5.0  nature type  autumn_to_summer

In [143]:
df[df['cities_name']=='chamoli'][['cities_name','city_rating','city_type','city_visit_time']].head(1)

     cities_name  city_rating    city_type   city_visit_time
5088     chamoli          4.1  nature type  autumn_to_summer

In [144]:
df[df['cities_name']=='champawat'][['cities_name','city_rating','city_type','city_visit_time']].head(1)

     cities_name  city_rating   city_type   city_visit_time
5120   champawat          4.0  hilly type  autumn_to_summer

In [145]:
df[df['cities_name']=='dandeli'][['cities_name','city_rating','city_type','city_visit_time']].head(1)

     cities_name  city_rating    city_type   city_visit_time
1796     dandeli          4.2  nature type  autumn_to_summer

# recommender-system state name

In [146]:
pt_2 = df_name_type.pivot_table(index='cities_name',columns='states_name',values='city_rating')

In [147]:
pt_2.fillna(0,inplace=True)

In [148]:
pt_2.head()

states_name,andaman and nicobar,andhra pradesh,arunachal pradesh,assam,bihar,chhattisgarh,gujarat,haryana,himachal pradesh,jammu and kashmir,...,odisha,punjab,rajasthan,sikkim,tamil nadu,telangana,tripura,uttar pradesh,uttarakhand,west bengal
cities_name,,,,,,,,,,,,,,,,,,,,,
adilabad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
agartala,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.8,0.0,0.0,0.0
agra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.2,0.0,0.0
ahmedabad,0.0,0.0,0.0,0.0,0.0,0.0,4.1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
aihole,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [149]:
similarity_scores_2 = cosine_similarity(pt_2)

In [150]:
similarity_scores_2

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [151]:
def recommend_city_state(city_name,cosine_sim = similarity_scores_2):
    index = np.where(pt_2.index==city_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores_2[index])),key= lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pt_2.index[i[0]])

In [152]:
recommend_city_state('manali')

dalhousie
kalpa
kangra
kasauli
kasol

In [153]:
df[df['cities_name']=='dalhousie'][['cities_name','city_rating','city_type','states_name']].head(1)

     cities_name  city_rating   city_type       states_name
1220   dalhousie          4.2  hilly type  himachal pradesh

In [154]:
df[df['cities_name']=='kalpa'][['cities_name','city_rating','city_type','states_name']].head(1)

     cities_name  city_rating   city_type       states_name
1352       kalpa          4.1  hilly type  himachal pradesh

In [155]:
df[df['cities_name']=='kangra'][['cities_name','city_rating','city_type','states_name']].head(1)

     cities_name  city_rating   city_type       states_name
1374      kangra          3.7  hilly type  himachal pradesh

In [156]:
df[df['cities_name']=='kasauli'][['cities_name','city_rating','city_type','states_name']].head(1)

     cities_name  city_rating   city_type       states_name
1209     kasauli          4.0  hilly type  himachal pradesh

In [157]:
df[df['cities_name']=='kasol'][['cities_name','city_rating','city_type','states_name']].head(1)

     cities_name  city_rating   city_type       states_name
1145       kasol          4.4  hilly type  himachal pradesh

# recommender-system state categories

In [158]:
pt_3 = df_name_type.pivot_table(index='cities_name',columns='state_categories',values='city_rating')

In [159]:
pt_3.fillna(0,inplace=True)

In [160]:
pt_3.head()

state_categories,commercial_and_technological_state,cultural_and_heritage_state,natural_and_scenic_state,spiritual_and_historical_state
cities_name,,,,
adilabad,5.0,0.0,0.0,0.0
agartala,0.0,0.0,3.8,0.0
agra,0.0,0.0,0.0,4.2
ahmedabad,4.1,0.0,0.0,0.0
aihole,4.2,0.0,0.0,0.0

In [161]:
similarity_scores_3 = cosine_similarity(pt_3)

In [162]:
similarity_scores_3

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 1., 0., ..., 0., 0., 1.]])

In [163]:
def recommend_city_state_categories(city_name,cosine_sim = similarity_scores_3):
    index = np.where(pt_3.index==city_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores_3[index])),key= lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pt_3.index[i[0]])

In [164]:
recommend_city_state_categories('manali')

aizawl
almora
anantnag
bageshwar
bhalukpong

In [165]:
df[df['cities_name']=='aizawl'][['cities_name','city_rating','city_type','states_name','state_categories']].head(1)

,cities_name,city_rating,city_type,states_name,state_categories
3404,aizawl,4.2,hilly type,mizoram,natural_and_scenic_state

In [166]:
df[df['cities_name']=='almora'][['cities_name','city_rating','city_type','states_name','state_categories']].head(1)

,cities_name,city_rating,city_type,states_name,state_categories
5053,almora,4.0,hilly type,uttarakhand,natural_and_scenic_state

In [167]:
df[df['cities_name']=='anantnag'][['cities_name','city_rating','city_type','states_name','state_categories']].head(1)

,cities_name,city_rating,city_type,states_name,state_categories
5557,anantnag,4.0,hilly type,jammu and kashmir,natural_and_scenic_state

In [168]:
df[df['cities_name']=='bageshwar'][['cities_name','city_rating','city_type','states_name','state_categories']].head(1)

,cities_name,city_rating,city_type,states_name,state_categories
5110,bageshwar,3.4,nature type,uttarakhand,natural_and_scenic_state

In [169]:
df[df['cities_name']=='bhalukpong'][['cities_name','city_rating','city_type','states_name','state_categories']].head(1)

,cities_name,city_rating,city_type,states_name,state_categories
301,bhalukpong,4.5,rural type,arunachal pradesh,natural_and_scenic_state

# final recommender-system combine all

In [170]:
def recommend_city_combined(city_name, top_n=5, w1=0, w2=0, w3=0, w4=0):
    
    combined_similarity_matrix = w1 * similarity_scores + w2 * similarity_scores_1 + w3 * similarity_scores_2 + w4 * similarity_scores_3
    
    index = np.where(pt.index == city_name)[0][0]
    
    sim_scores = list(enumerate(combined_similarity_matrix[index]))
    

    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1]
    

    top_indices = [i[0] for i in sorted_scores]
    
    
    top_cities = pt.index[top_indices].tolist()
    

    top_scores = [i[1] for i in sorted_scores]
    
    recommendations_df = pd.DataFrame({
        'CityName': top_cities,
    })
    
    return recommendations_df

In [171]:
recommend_city_combined('manali', top_n=5, w1=0, w2=0, w3=0, w4=1)

     CityName
0      aizawl
1      almora
2    anantnag
3   bageshwar
4  bhalukpong

In [172]:
pt.head()

city_type,beach type,cultural type,hilly type,historical type,metropolitan type,nature type,other type,rural type,spiritual type
cities_name,,,,,,,,,
adilabad,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
agartala,0.0,0.0,0.0,0.0,0.0,3.8,0.0,0.0,0.0
agra,0.0,0.0,0.0,4.2,0.0,0.0,0.0,0.0,0.0
ahmedabad,0.0,0.0,0.0,0.0,4.1,0.0,0.0,0.0,0.0
aihole,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.2

In [84]:
import pickle 
pickle.dump(pt,open("pt.pkl","wb"))

In [85]:
pickle.dump(similarity_scores,open("cosine_sim.pkl","wb"))

In [86]:
pickle.dump(similarity_scores_1,open("cosine_sim1.pkl","wb"))

In [87]:
pickle.dump(similarity_scores_2,open("cosine_sim2.pkl","wb"))

In [88]:
pickle.dump(similarity_scores_3,open("cosine_sim3.pkl","wb"))