In [1]:
import pandas as pd
import numpy as np

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\visit_and_tour_packages_project\datasets\missing_value_imputation_city_state.csv')

In [4]:
df.head(10)

,visiting_places,visiting_places_rating,distance_from_city_center,cities_name,city_rating,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time
0,borra caves,4.60,18.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
1,katiki waterfalls,4.10,14.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
2,chaparai waterfalls,3.90,13.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
3,tadimada waterfalls,3.57,15.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
4,matsyagundam,3.57,32.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
5,bheemili beach,3.57,78.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
6,tribal museum,3.57,3.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
7,padmapuram gardens,3.60,15.0,araku valley,4.8,hilly type,autumn_to_winter,8.0,andhra pradesh,commercial_and_technological_state,winter
8,borra caves,4.20,69.0,visakhapatnam,4.4,metropolitan type,autumn_to_winter,27.0,andhra pradesh,commercial_and_technological_state,winter
9,submarine museum,3.40,12.0,visakhapatnam,4.4,metropolitan type,autumn_to_winter,27.0,andhra pradesh,commercial_and_technological_state,winter

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5584 entries, 0 to 5583
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   visiting_places            5584 non-null   object
 1   visiting_places_rating     5584 non-null   float64
 2   distance_from_city_center  5584 non-null   float64
 3   cities_name                5584 non-null   object
 4   city_rating                5584 non-null   float64
 5   city_type                  5584 non-null   object
 6   city_visit_time            5584 non-null   object
 7   no_of_tourist_attration    5584 non-null   float64
 8   states_name                5584 non-null   object
 9   state_categories           5584 non-null   object
 10  state_visit_time           5584 non-null   object
dtypes: float64(4), object(7)
memory usage: 480.0+ KB

In [27]:
df.shape

(5583, 11)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

0

# popularity based recommender system

In [28]:
df_name_rating = df[['cities_name','city_rating']]

In [30]:
df_name_rating.drop_duplicates(inplace=True)

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_5380\3218007951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_rating.drop_duplicates(inplace=True)

In [32]:
df_name_rating.shape

(288, 2)

In [35]:
df_name_rating['city_rating'].value_counts()

city_rating
4.1    38
4.3    34
4.4    28
4.0    27
4.2    26
4.5    22
3.8    17
3.9    14
5.0    14
4.6    12
4.7     9
3.7     9
3.0     8
4.8     6
3.5     5
3.6     5
3.4     4
3.3     2
3.2     2
2.5     1
2.8     1
2.6     1
2.0     1
2.9     1
1.0     1
Name: count, dtype: int64

In [47]:
top_cities = df_name_rating[df_name_rating['city_rating'] >= 4.5].sort_values('city_rating',ascending =False).head(50)

In [48]:
top_cities

         cities_name  city_rating
3564         jeypore          5.0
4786         aligarh          5.0
1015          karnal          5.0
999           rohtak          5.0
424          dhemaji          5.0
411       bongaigaon          5.0
4547        adilabad          5.0
342        dibrugarh          5.0
4773          meerut          5.0
1302  parvati valley          5.0
216      puttaparthi          5.0
1548         dhanbad          5.0
3557        rayagada          5.0
2955           satna          5.0
241           tawang          4.8
1543      hazaribagh          4.8
213      mantralayam          4.8
1944        sringeri          4.8
4122         pelling          4.8
0       araku valley          4.8
1312  tirthan valley          4.7
3572        amritsar          4.7
1319            kaza          4.7
586        jagdalpur          4.7
262          bomdila          4.7
229     vizianagaram          4.7
186         chittoor          4.7
175          nellore          4.7
162           guntur          4.7
2258          idukki          4.6
4093         gangtok          4.6
4692          kanpur          4.6
3528       ratnagiri          4.6
2930          orchha          4.6
5411         gulmarg          4.6
2845       khajuraho          4.6
1825       kudremukh          4.6
132          kurnool          4.6
254             ziro          4.6
304           majuli          4.6
1331        palampur          4.6
2164         varkala          4.5
2192       kumarakom          4.5
5363        srinagar          4.5
5241        siliguri          4.5
301       bhalukpong          4.5
4607        varanasi          4.5
385          silchar          4.5
1045          manali          4.5
3881       jaisalmer          4.5

In [49]:
top_cities.merge(df,on='cities_name').head()

,cities_name,city_rating_x,visiting_places,visiting_places_rating,distance_from_city_center,city_rating_y,city_type,city_visit_time,no_of_tourist_attration,states_name,state_categories,state_visit_time
0,jeypore,5.0,bagara,3.3,13.0,5.0,beach type,autumn_to_winter,8.0,odisha,spiritual_and_historical_state,winter
1,jeypore,5.0,kolab hydro electric power reservoir and botan...,3.3,9.0,5.0,beach type,autumn_to_winter,8.0,odisha,spiritual_and_historical_state,winter
2,jeypore,5.0,sunabeda,3.5,31.0,5.0,beach type,autumn_to_winter,8.0,odisha,spiritual_and_historical_state,winter
3,jeypore,5.0,gupteshwar caves,3.0,43.0,5.0,beach type,autumn_to_winter,8.0,odisha,spiritual_and_historical_state,winter
4,jeypore,5.0,shakti waterfalls.,3.0,4.0,5.0,beach type,autumn_to_winter,8.0,odisha,spiritual_and_historical_state,winter